ALTER TABLE TBL_PROJECT_STATUS_HISTORY
DROP CONSTRAINT TBL_PROJECT_STATUS_HISTORY_FK;

DROP TABLE TBL_PROJECT_STATUS_HISTORY;

CREATE TABLE TBL_PROJECT_STATUS_HISTORY
(
    PROJECT_STATUS_HISTORY_NO    NUMBER NOT NULL,
    PROJECT_STATUS_UPDATED_CONTENT    VARCHAR2(20) NOT NULL,
    PROJECT_STATUS_UPDATED_TYPE    VARCHAR2(10) NOT NULL,
    PROJECT_STATUS_UPDATED_DATE    DATE DEFAULT SYSDATE NOT NULL,
    PROJECT_PROGRESS_STATUS_CODE    VARCHAR2(50) NOT NULL
);

COMMENT ON COLUMN TBL_PROJECT_STATUS_HISTORY.PROJECT_STATUS_HISTORY_NO IS '프로젝트코드이력번호';

COMMENT ON COLUMN TBL_PROJECT_STATUS_HISTORY.PROJECT_STATUS_UPDATED_CONTENT IS '수정내역';

COMMENT ON COLUMN TBL_PROJECT_STATUS_HISTORY.PROJECT_STATUS_UPDATED_TYPE IS '수정종류(DEL,UPD,INS)';

COMMENT ON COLUMN TBL_PROJECT_STATUS_HISTORY.PROJECT_STATUS_UPDATED_DATE IS '수정일';

COMMENT ON COLUMN TBL_PROJECT_STATUS_HISTORY.PROJECT_PROGRESS_STATUS_CODE IS '프로젝트진행상태코드';

COMMENT ON TABLE TBL_PROJECT_STATUS_HISTORY IS '프로젝트코드이력';

DROP INDEX 엔터티1_PK15;

CREATE UNIQUE INDEX 엔터티1_PK15 ON TBL_PROJECT_STATUS_HISTORY
( PROJECT_STATUS_HISTORY_NO );

ALTER TABLE TBL_PROJECT_STATUS_HISTORY
DROP PRIMARY KEY;

ALTER TABLE TBL_PROJECT_STATUS_HISTORY
 ADD CONSTRAINT 인덱스1_PK15 PRIMARY KEY ( PROJECT_STATUS_HISTORY_NO )
 USING INDEX 엔터티1_PK15;

ALTER TABLE TBL_PROJECT_STATUS_HISTORY
DROP CONSTRAINT TBL_PROJECT_STATUS_HISTORY_CK;

ALTER TABLE TBL_PROJECT_STATUS_HISTORY
 ADD CONSTRAINT TBL_PROJECT_STATUS_HISTORY_CK CHECK ( PROJECT_STATUS_UPDATED_TYPE IN ('추가','수정','삭제') );

ALTER TABLE TBL_PROJECT_STATUS_HISTORY
DROP CONSTRAINT TBL_PROJECT_STATUS_HISTORY_FK;

ALTER TABLE TBL_PROJECT_STATUS_HISTORY
 ADD CONSTRAINT TBL_PROJECT_STATUS_HISTORY_FK FOREIGN KEY ( PROJECT_PROGRESS_STATUS_CODE )
 REFERENCES TBL_PROJECT_STATUS (PROJECT_PROGRESS_STATUS_CODE );

DROP TABLE TBL_PROJECT_STATUS_HISTORY;

COMMENT ON COLUMN TBL_PROJECT_STATUS_HISTORY.PROJECT_STATUS_HISTORY_NO IS '프로젝트코드이력번호';

COMMENT ON COLUMN TBL_PROJECT_STATUS_HISTORY.PROJECT_STATUS_UPDATED_CONTENT IS '수정내역';

COMMENT ON COLUMN TBL_PROJECT_STATUS_HISTORY.PROJECT_STATUS_UPDATED_TYPE IS '수정종류(DEL,UPD,INS)';

COMMENT ON COLUMN TBL_PROJECT_STATUS_HISTORY.PROJECT_STATUS_UPDATED_DATE IS '수정일';

COMMENT ON COLUMN TBL_PROJECT_STATUS_HISTORY.PROJECT_PROGRESS_STATUS_CODE IS '프로젝트진행상태코드';

COMMENT ON TABLE TBL_PROJECT_STATUS_HISTORY IS '프로젝트코드이력';


ALTER TABLE TBL_TASK_MEM_HISTORY
DROP CONSTRAINT TBL_TASK_MEM_HISTORY_FK;

ALTER TABLE TBL_TASK_MEM_HISTORY
DROP CONSTRAINT TBL_TASK_MEM_HISTORY_FK1;

DROP TABLE TBL_TASK_MEM_HISTORY;

CREATE TABLE TBL_TASK_MEM_HISTORY
(
    MEMBER_NO    NUMBER NOT NULL,
    TASK_MEM_HISTORY_NO    NUMBER NOT NULL,
    TASK_MEM_STARTED_DATE    DATE DEFAULT SYSDATE,
    TASK_NO    NUMBER NOT NULL,
    배정해준사람번호    NUMBER NOT NULL
);

COMMENT ON COLUMN TBL_TASK_MEM_HISTORY.MEMBER_NO IS '업무담당자';

COMMENT ON COLUMN TBL_TASK_MEM_HISTORY.TASK_MEM_HISTORY_NO IS '배정번호';

COMMENT ON COLUMN TBL_TASK_MEM_HISTORY.TASK_MEM_STARTED_DATE IS '배정일';

COMMENT ON COLUMN TBL_TASK_MEM_HISTORY.TASK_NO IS '업무번호';

COMMENT ON COLUMN TBL_TASK_MEM_HISTORY.배정해준사람번호 IS '배정해준사람번호';

COMMENT ON TABLE TBL_TASK_MEM_HISTORY IS '업무인원배정내역';

DROP INDEX 엔터티1_PK17;

CREATE UNIQUE INDEX 엔터티1_PK17 ON TBL_TASK_MEM_HISTORY
( TASK_MEM_HISTORY_NO );

ALTER TABLE TBL_TASK_MEM_HISTORY
DROP PRIMARY KEY;

ALTER TABLE TBL_TASK_MEM_HISTORY
 ADD CONSTRAINT TASK_MEM_HISTORY_NO_PK PRIMARY KEY ( TASK_MEM_HISTORY_NO )
 USING INDEX 엔터티1_PK17;

ALTER TABLE TBL_TASK_MEM_HISTORY
DROP CONSTRAINT TBL_TASK_MEM_HISTORY_FK;

ALTER TABLE TBL_TASK_MEM_HISTORY
 ADD CONSTRAINT TBL_TASK_MEM_HISTORY_FK FOREIGN KEY ( TASK_NO )
 REFERENCES TBL_TASK (TASK_NO );

ALTER TABLE TBL_TASK_MEM_HISTORY
DROP CONSTRAINT TBL_TASK_MEM_HISTORY_FK1;

ALTER TABLE TBL_TASK_MEM_HISTORY
 ADD CONSTRAINT TBL_TASK_MEM_HISTORY_FK1 FOREIGN KEY ( MEMBER_NO )
 REFERENCES TBL_MEMBER (MEMBER_NO );

DROP TABLE TBL_TASK_MEM_HISTORY;

COMMENT ON COLUMN TBL_TASK_MEM_HISTORY.MEMBER_NO IS '업무담당자';

COMMENT ON COLUMN TBL_TASK_MEM_HISTORY.TASK_MEM_HISTORY_NO IS '배정번호';

COMMENT ON COLUMN TBL_TASK_MEM_HISTORY.TASK_MEM_STARTED_DATE IS '배정일';

COMMENT ON COLUMN TBL_TASK_MEM_HISTORY.TASK_NO IS '업무번호';

COMMENT ON COLUMN TBL_TASK_MEM_HISTORY.배정해준사람번호 IS '배정해준사람번호';

COMMENT ON TABLE TBL_TASK_MEM_HISTORY IS '업무인원배정내역';


ALTER TABLE TBL_PROJECT
DROP CONSTRAINT TBL_PROJECT_FK;

ALTER TABLE TBL_PROJECT_STATUS_HISTORY
DROP CONSTRAINT TBL_PROJECT_STATUS_HISTORY_FK;

ALTER TABLE TBL_PROJECT_HISTORY
DROP CONSTRAINT TBL_PROJECT_HISTORY_FK;

DROP TABLE TBL_PROJECT_STATUS;

CREATE TABLE TBL_PROJECT_STATUS
(
    PROJECT_PROGRESS_STATUS_CODE    VARCHAR2(50) NOT NULL,
    PROJECT_PROGRESS_STATUS_NAME    VARCHAR2(50) NOT NULL
);

COMMENT ON COLUMN TBL_PROJECT_STATUS.PROJECT_PROGRESS_STATUS_CODE IS '프로젝트진행상태코드';

COMMENT ON COLUMN TBL_PROJECT_STATUS.PROJECT_PROGRESS_STATUS_NAME IS '프로젝트진행상태명';

COMMENT ON TABLE TBL_PROJECT_STATUS IS '프로젝트상태';

DROP INDEX PROJECT_PROGRESS_STATUS_CODE_PK;

CREATE UNIQUE INDEX PROJECT_PROGRESS_STATUS_CODE_PK ON TBL_PROJECT_STATUS
( PROJECT_PROGRESS_STATUS_CODE );

DROP INDEX TBL_PROJECT_STATUS_UK1;

CREATE UNIQUE INDEX TBL_PROJECT_STATUS_UK1 ON TBL_PROJECT_STATUS
( PROJECT_PROGRESS_STATUS_NAME );

ALTER TABLE TBL_PROJECT_STATUS
DROP PRIMARY KEY;

ALTER TABLE TBL_PROJECT_STATUS
 ADD CONSTRAINT PROJECT_PROGRESS_STATUS_CODE_PK PRIMARY KEY ( PROJECT_PROGRESS_STATUS_CODE )
 USING INDEX PROJECT_PROGRESS_STATUS_CODE_PK;

ALTER TABLE TBL_PROJECT_STATUS
DROP CONSTRAINT TBL_PROJECT_STATUS_UK;

ALTER TABLE TBL_PROJECT_STATUS
 ADD CONSTRAINT TBL_PROJECT_STATUS_UK UNIQUE ( PROJECT_PROGRESS_STATUS_NAME )
 USING INDEX TBL_PROJECT_STATUS_UK1;

DROP TABLE TBL_PROJECT_STATUS;

COMMENT ON COLUMN TBL_PROJECT_STATUS.PROJECT_PROGRESS_STATUS_CODE IS '프로젝트진행상태코드';

COMMENT ON COLUMN TBL_PROJECT_STATUS.PROJECT_PROGRESS_STATUS_NAME IS '프로젝트진행상태명';

COMMENT ON TABLE TBL_PROJECT_STATUS IS '프로젝트상태';


ALTER TABLE TBL_DEPT_CODE_MANAGE_HISTORY
DROP CONSTRAINT TBL_DEPT_CODE_MANAGE_HISTORY_FK;

DROP TABLE TBL_DEPT_CODE_MANAGE_HISTORY;

CREATE TABLE TBL_DEPT_CODE_MANAGE_HISTORY
(
    DEPT_CODE_HISTORY_NO    NUMBER NOT NULL,
    DEPT_UPDATED_CONTENT    VARCHAR2(50) NOT NULL,
    DEPT_UPDATED_TYPE    VARCHAR2(50) NOT NULL,
    DEPT_UPDATED_DATE    DATE DEFAULT SYSDATE NOT NULL,
    DEPT_CODE    VARCHAR2(10) NOT NULL
);

COMMENT ON COLUMN TBL_DEPT_CODE_MANAGE_HISTORY.DEPT_CODE_HISTORY_NO IS '부서코드히스토리번호';

COMMENT ON COLUMN TBL_DEPT_CODE_MANAGE_HISTORY.DEPT_UPDATED_CONTENT IS '수정내역';

COMMENT ON COLUMN TBL_DEPT_CODE_MANAGE_HISTORY.DEPT_UPDATED_TYPE IS '수정종류';

COMMENT ON COLUMN TBL_DEPT_CODE_MANAGE_HISTORY.DEPT_UPDATED_DATE IS '수정일';

COMMENT ON COLUMN TBL_DEPT_CODE_MANAGE_HISTORY.DEPT_CODE IS '부서코드';

COMMENT ON TABLE TBL_DEPT_CODE_MANAGE_HISTORY IS '부서코드히스토리';

DROP INDEX 엔터티2_1_1_PK1;

CREATE UNIQUE INDEX 엔터티2_1_1_PK1 ON TBL_DEPT_CODE_MANAGE_HISTORY
( DEPT_CODE_HISTORY_NO );

ALTER TABLE TBL_DEPT_CODE_MANAGE_HISTORY
DROP PRIMARY KEY;

ALTER TABLE TBL_DEPT_CODE_MANAGE_HISTORY
 ADD CONSTRAINT DEPT_CODE_HISTORY_NO_PK PRIMARY KEY ( DEPT_CODE_HISTORY_NO )
 USING INDEX 엔터티2_1_1_PK1;

ALTER TABLE TBL_DEPT_CODE_MANAGE_HISTORY
DROP CONSTRAINT TBL_DEPT_CODE_MANAGE_HISTORY_CK;

ALTER TABLE TBL_DEPT_CODE_MANAGE_HISTORY
 ADD CONSTRAINT TBL_DEPT_CODE_MANAGE_HISTORY_CK CHECK ( DEPT_UPDATED_TYPE IN ('추가','수정','삭제') );

ALTER TABLE TBL_DEPT_CODE_MANAGE_HISTORY
DROP CONSTRAINT TBL_DEPT_CODE_MANAGE_HISTORY_FK;

ALTER TABLE TBL_DEPT_CODE_MANAGE_HISTORY
 ADD CONSTRAINT TBL_DEPT_CODE_MANAGE_HISTORY_FK FOREIGN KEY ( DEPT_CODE )
 REFERENCES TBL_DEPT (DEPT_CODE );

DROP TABLE TBL_DEPT_CODE_MANAGE_HISTORY;

COMMENT ON COLUMN TBL_DEPT_CODE_MANAGE_HISTORY.DEPT_CODE_HISTORY_NO IS '부서코드히스토리번호';

COMMENT ON COLUMN TBL_DEPT_CODE_MANAGE_HISTORY.DEPT_UPDATED_CONTENT IS '수정내역';

COMMENT ON COLUMN TBL_DEPT_CODE_MANAGE_HISTORY.DEPT_UPDATED_TYPE IS '수정종류';

COMMENT ON COLUMN TBL_DEPT_CODE_MANAGE_HISTORY.DEPT_UPDATED_DATE IS '수정일';

COMMENT ON COLUMN TBL_DEPT_CODE_MANAGE_HISTORY.DEPT_CODE IS '부서코드';

COMMENT ON TABLE TBL_DEPT_CODE_MANAGE_HISTORY IS '부서코드히스토리';


ALTER TABLE TBL_MEM_DEPT_HISTORY
DROP CONSTRAINT TBL_MEM_DEPT_HISTORY_FK;

ALTER TABLE TBL_MEM_DEPT_HISTORY
DROP CONSTRAINT TBL_MEM_DEPT_HISTORY_FK1;

DROP TABLE TBL_MEM_DEPT_HISTORY;

CREATE TABLE TBL_MEM_DEPT_HISTORY
(
    DEPT_MEM_HISTORY_NO    NUMBER NOT NULL,
    DEPT_CODE    VARCHAR2(10) NOT NULL,
    MEMBER_NO    NUMBER NOT NULL,
    DEPT_UPDATED_NAME    VARCHAR2(30) NOT NULL,
    DEPT_UPDATED_DATE    DATE DEFAULT SYSDATE NOT NULL
);

COMMENT ON COLUMN TBL_MEM_DEPT_HISTORY.DEPT_MEM_HISTORY_NO IS '부서변경히스토리번호';

COMMENT ON COLUMN TBL_MEM_DEPT_HISTORY.DEPT_CODE IS '부서코드';

COMMENT ON COLUMN TBL_MEM_DEPT_HISTORY.MEMBER_NO IS '회원번호';

COMMENT ON COLUMN TBL_MEM_DEPT_HISTORY.DEPT_UPDATED_NAME IS '수정후부서';

COMMENT ON COLUMN TBL_MEM_DEPT_HISTORY.DEPT_UPDATED_DATE IS '수정일';

COMMENT ON TABLE TBL_MEM_DEPT_HISTORY IS '회원부서변경이력';

DROP INDEX DEPT_MEM_HISTORY_NO_PK;

CREATE UNIQUE INDEX DEPT_MEM_HISTORY_NO_PK ON TBL_MEM_DEPT_HISTORY
( DEPT_MEM_HISTORY_NO );

ALTER TABLE TBL_MEM_DEPT_HISTORY
DROP PRIMARY KEY;

ALTER TABLE TBL_MEM_DEPT_HISTORY
 ADD CONSTRAINT DEPT_MEM_HISTORY_NO_PK PRIMARY KEY ( DEPT_MEM_HISTORY_NO )
 USING INDEX DEPT_MEM_HISTORY_NO_PK;

ALTER TABLE TBL_MEM_DEPT_HISTORY
DROP CONSTRAINT TBL_MEM_DEPT_HISTORY_FK;

ALTER TABLE TBL_MEM_DEPT_HISTORY
 ADD CONSTRAINT TBL_MEM_DEPT_HISTORY_FK FOREIGN KEY ( MEMBER_NO )
 REFERENCES TBL_MEMBER (MEMBER_NO );

ALTER TABLE TBL_MEM_DEPT_HISTORY
DROP CONSTRAINT TBL_MEM_DEPT_HISTORY_FK1;

ALTER TABLE TBL_MEM_DEPT_HISTORY
 ADD CONSTRAINT TBL_MEM_DEPT_HISTORY_FK1 FOREIGN KEY ( DEPT_CODE )
 REFERENCES TBL_DEPT (DEPT_CODE );

DROP TABLE TBL_MEM_DEPT_HISTORY;

COMMENT ON COLUMN TBL_MEM_DEPT_HISTORY.DEPT_MEM_HISTORY_NO IS '부서변경히스토리번호';

COMMENT ON COLUMN TBL_MEM_DEPT_HISTORY.DEPT_CODE IS '부서코드';

COMMENT ON COLUMN TBL_MEM_DEPT_HISTORY.MEMBER_NO IS '회원번호';

COMMENT ON COLUMN TBL_MEM_DEPT_HISTORY.DEPT_UPDATED_NAME IS '수정후부서';

COMMENT ON COLUMN TBL_MEM_DEPT_HISTORY.DEPT_UPDATED_DATE IS '수정일';

COMMENT ON TABLE TBL_MEM_DEPT_HISTORY IS '회원부서변경이력';


ALTER TABLE TBL_ISSUE_HISTORY
DROP CONSTRAINT TBL_ISSUE_HISTORY_FK;

ALTER TABLE TBL_ISSUE_HISTORY
DROP CONSTRAINT TBL_ISSUE_HISTORY_FK1;

ALTER TABLE TBL_ISSUE_HISTORY
DROP CONSTRAINT TBL_ISSUE_HISTORY_FK2;

DROP TABLE TBL_ISSUE_HISTORY;

CREATE TABLE TBL_ISSUE_HISTORY
(
    ISSUE_HISTORY_NO    NUMBER NOT NULL,
    ISSUE_PROGRESS_STATUS    VARCHAR2(15) NOT NULL,
    ISSUE_UPDATED_DATE    DATE DEFAULT SYSDATE NOT NULL,
    ISSUE_NO    NUMBER NOT NULL,
    ISSUE_REGISTER    NUMBER NOT NULL,
    ISSUE_MANAGER    NUMBER
);

COMMENT ON COLUMN TBL_ISSUE_HISTORY.ISSUE_HISTORY_NO IS '이슈히스토리번호';

COMMENT ON COLUMN TBL_ISSUE_HISTORY.ISSUE_PROGRESS_STATUS IS '이슈상태';

COMMENT ON COLUMN TBL_ISSUE_HISTORY.ISSUE_UPDATED_DATE IS '이슈날짜';

COMMENT ON COLUMN TBL_ISSUE_HISTORY.ISSUE_NO IS '이슈번호';

COMMENT ON COLUMN TBL_ISSUE_HISTORY.ISSUE_REGISTER IS '이슈등록자';

COMMENT ON COLUMN TBL_ISSUE_HISTORY.ISSUE_MANAGER IS '이슈담당자';

COMMENT ON TABLE TBL_ISSUE_HISTORY IS '이슈히스토리';

DROP INDEX ISSUE_HISTORY_NO_PK;

CREATE UNIQUE INDEX ISSUE_HISTORY_NO_PK ON TBL_ISSUE_HISTORY
( ISSUE_HISTORY_NO );

DROP INDEX TBL_ISSUE_HISTORY;

CREATE UNIQUE INDEX TBL_ISSUE_HISTORY ON TBL_ISSUE_HISTORY
( ISSUE_HISTORY_NO ) PCTFREE 10
GLOBAL PARTITION BY LIST()
();

ALTER TABLE TBL_ISSUE_HISTORY
DROP PRIMARY KEY;

ALTER TABLE TBL_ISSUE_HISTORY
 ADD CONSTRAINT ISSUE_HISTORY_NO_PK PRIMARY KEY ( ISSUE_HISTORY_NO )
 USING INDEX ISSUE_HISTORY_NO_PK;

ALTER TABLE TBL_ISSUE_HISTORY
DROP CONSTRAINT TBL_ISSUE_HISTORY_CK;

ALTER TABLE TBL_ISSUE_HISTORY
 ADD CONSTRAINT TBL_ISSUE_HISTORY_CK CHECK ( ISSUE_PROGRESS_STATUS IN ('대기중','확인중','처리중','완료') );

ALTER TABLE TBL_ISSUE_HISTORY
DROP CONSTRAINT TBL_ISSUE_HISTORY_FK;

ALTER TABLE TBL_ISSUE_HISTORY
 ADD CONSTRAINT TBL_ISSUE_HISTORY_FK FOREIGN KEY ( ISSUE_NO )
 REFERENCES TBL_ISSUE (ISSUE_NO );

ALTER TABLE TBL_ISSUE_HISTORY
DROP CONSTRAINT TBL_ISSUE_HISTORY_FK1;

ALTER TABLE TBL_ISSUE_HISTORY
 ADD CONSTRAINT TBL_ISSUE_HISTORY_FK1 FOREIGN KEY ( ISSUE_REGISTER )
 REFERENCES TBL_MEMBER (MEMBER_NO );

ALTER TABLE TBL_ISSUE_HISTORY
DROP CONSTRAINT TBL_ISSUE_HISTORY_FK2;

ALTER TABLE TBL_ISSUE_HISTORY
 ADD CONSTRAINT TBL_ISSUE_HISTORY_FK2 FOREIGN KEY ( ISSUE_MANAGER )
 REFERENCES TBL_MEMBER (MEMBER_NO );

DROP TABLE TBL_ISSUE_HISTORY;

COMMENT ON COLUMN TBL_ISSUE_HISTORY.ISSUE_HISTORY_NO IS '이슈히스토리번호';

COMMENT ON COLUMN TBL_ISSUE_HISTORY.ISSUE_PROGRESS_STATUS IS '이슈상태';

COMMENT ON COLUMN TBL_ISSUE_HISTORY.ISSUE_UPDATED_DATE IS '이슈날짜';

COMMENT ON COLUMN TBL_ISSUE_HISTORY.ISSUE_NO IS '이슈번호';

COMMENT ON COLUMN TBL_ISSUE_HISTORY.ISSUE_REGISTER IS '이슈등록자';

COMMENT ON COLUMN TBL_ISSUE_HISTORY.ISSUE_MANAGER IS '이슈담당자';

COMMENT ON TABLE TBL_ISSUE_HISTORY IS '이슈히스토리';


ALTER TABLE TBL_TEAM_CODE_MANAGE_HISTORY
DROP CONSTRAINT TEAM_CODE_MANAGE_HISTORY_FK;

DROP TABLE TBL_TEAM_CODE_MANAGE_HISTORY;

CREATE TABLE TBL_TEAM_CODE_MANAGE_HISTORY
(
    TEAM_CODE_HISTORY_NO    NUMBER NOT NULL,
    TEAM_UPDATED_CONTENT    VARCHAR2(50) NOT NULL,
    TEAM_UPDATED_TYPE    VARCHAR2(10) NOT NULL,
    TEAM_UPDATED_DATE    DATE DEFAULT SYSDATE NOT NULL,
    TEAM_CODE    VARCHAR2(10) NOT NULL
);

COMMENT ON COLUMN TBL_TEAM_CODE_MANAGE_HISTORY.TEAM_CODE_HISTORY_NO IS '팀코드히스토리번호';

COMMENT ON COLUMN TBL_TEAM_CODE_MANAGE_HISTORY.TEAM_UPDATED_CONTENT IS '수정내역';

COMMENT ON COLUMN TBL_TEAM_CODE_MANAGE_HISTORY.TEAM_UPDATED_TYPE IS '수정종류';

COMMENT ON COLUMN TBL_TEAM_CODE_MANAGE_HISTORY.TEAM_UPDATED_DATE IS '수정일';

COMMENT ON COLUMN TBL_TEAM_CODE_MANAGE_HISTORY.TEAM_CODE IS '팀코드';

COMMENT ON TABLE TBL_TEAM_CODE_MANAGE_HISTORY IS '팀코드히스토리';

DROP INDEX 엔터티2_1_PK1;

CREATE UNIQUE INDEX 엔터티2_1_PK1 ON TBL_TEAM_CODE_MANAGE_HISTORY
( TEAM_CODE_HISTORY_NO );

ALTER TABLE TBL_TEAM_CODE_MANAGE_HISTORY
DROP PRIMARY KEY;

ALTER TABLE TBL_TEAM_CODE_MANAGE_HISTORY
 ADD CONSTRAINT TEAM_CODE_HISTORY_NO_PK PRIMARY KEY ( TEAM_CODE_HISTORY_NO )
 USING INDEX 엔터티2_1_PK1;

ALTER TABLE TBL_TEAM_CODE_MANAGE_HISTORY
DROP CONSTRAINT TEAM_CODE_MANAGE_HISTORY_CK;

ALTER TABLE TBL_TEAM_CODE_MANAGE_HISTORY
 ADD CONSTRAINT TEAM_CODE_MANAGE_HISTORY_CK CHECK ( TEAM_UPDATED_TYPE IN ('추가','수정','삭제') );

ALTER TABLE TBL_TEAM_CODE_MANAGE_HISTORY
DROP CONSTRAINT TEAM_CODE_MANAGE_HISTORY_FK;

ALTER TABLE TBL_TEAM_CODE_MANAGE_HISTORY
 ADD CONSTRAINT TEAM_CODE_MANAGE_HISTORY_FK FOREIGN KEY ( TEAM_CODE )
 REFERENCES TBL_TEAM (TEAM_CODE );

DROP TABLE TBL_TEAM_CODE_MANAGE_HISTORY;

COMMENT ON COLUMN TBL_TEAM_CODE_MANAGE_HISTORY.TEAM_CODE_HISTORY_NO IS '팀코드히스토리번호';

COMMENT ON COLUMN TBL_TEAM_CODE_MANAGE_HISTORY.TEAM_UPDATED_CONTENT IS '수정내역';

COMMENT ON COLUMN TBL_TEAM_CODE_MANAGE_HISTORY.TEAM_UPDATED_TYPE IS '수정종류';

COMMENT ON COLUMN TBL_TEAM_CODE_MANAGE_HISTORY.TEAM_UPDATED_DATE IS '수정일';

COMMENT ON COLUMN TBL_TEAM_CODE_MANAGE_HISTORY.TEAM_CODE IS '팀코드';

COMMENT ON TABLE TBL_TEAM_CODE_MANAGE_HISTORY IS '팀코드히스토리';


ALTER TABLE TBL_JOB_CODE_MANAGE_HISTORY
DROP CONSTRAINT TBL_JOB_CODE_MANAGE_HISTORY_FK;

DROP TABLE TBL_JOB_CODE_MANAGE_HISTORY;

CREATE TABLE TBL_JOB_CODE_MANAGE_HISTORY
(
    JOB_CODE_HISTORY_NO    NUMBER NOT NULL,
    JOB_UPDATED_CONTENT    VARCHAR2(30) NOT NULL,
    JOB_UPDATED_TYPE    VARCHAR2(10) NOT NULL,
    JOB_UPDATED_DATE    DATE DEFAULT SYSDATE NOT NULL,
    JOB_CODE    VARCHAR2(10) NOT NULL
);

COMMENT ON COLUMN TBL_JOB_CODE_MANAGE_HISTORY.JOB_CODE_HISTORY_NO IS '직급코드히스토리번호';

COMMENT ON COLUMN TBL_JOB_CODE_MANAGE_HISTORY.JOB_UPDATED_CONTENT IS '수정내역';

COMMENT ON COLUMN TBL_JOB_CODE_MANAGE_HISTORY.JOB_UPDATED_TYPE IS '수정종류';

COMMENT ON COLUMN TBL_JOB_CODE_MANAGE_HISTORY.JOB_UPDATED_DATE IS '수정일';

COMMENT ON COLUMN TBL_JOB_CODE_MANAGE_HISTORY.JOB_CODE IS '직급코드';

COMMENT ON TABLE TBL_JOB_CODE_MANAGE_HISTORY IS '직급코드히스토리';

DROP INDEX 엔터티2_1_PK1;

CREATE UNIQUE INDEX 엔터티2_1_PK1 ON TBL_JOB_CODE_MANAGE_HISTORY
( JOB_CODE_HISTORY_NO );

ALTER TABLE TBL_JOB_CODE_MANAGE_HISTORY
DROP PRIMARY KEY;

ALTER TABLE TBL_JOB_CODE_MANAGE_HISTORY
 ADD CONSTRAINT JOB_CODE_HISTORY_NO_PK PRIMARY KEY ( JOB_CODE_HISTORY_NO )
 USING INDEX 엔터티2_1_PK1;

ALTER TABLE TBL_JOB_CODE_MANAGE_HISTORY
DROP CONSTRAINT TBL_JOB_CODE_MANAGE_HISTORY_CK;

ALTER TABLE TBL_JOB_CODE_MANAGE_HISTORY
 ADD CONSTRAINT TBL_JOB_CODE_MANAGE_HISTORY_CK CHECK ( JOB_UPDATED_TYPE IN ('추가','수정','삭제') );

ALTER TABLE TBL_JOB_CODE_MANAGE_HISTORY
DROP CONSTRAINT TBL_JOB_CODE_MANAGE_HISTORY_FK;

ALTER TABLE TBL_JOB_CODE_MANAGE_HISTORY
 ADD CONSTRAINT TBL_JOB_CODE_MANAGE_HISTORY_FK FOREIGN KEY ( JOB_CODE )
 REFERENCES TBL_JOB_TITLE (JOB_CODE );

DROP TABLE TBL_JOB_CODE_MANAGE_HISTORY;

COMMENT ON COLUMN TBL_JOB_CODE_MANAGE_HISTORY.JOB_CODE_HISTORY_NO IS '직급코드히스토리번호';

COMMENT ON COLUMN TBL_JOB_CODE_MANAGE_HISTORY.JOB_UPDATED_CONTENT IS '수정내역';

COMMENT ON COLUMN TBL_JOB_CODE_MANAGE_HISTORY.JOB_UPDATED_TYPE IS '수정종류';

COMMENT ON COLUMN TBL_JOB_CODE_MANAGE_HISTORY.JOB_UPDATED_DATE IS '수정일';

COMMENT ON COLUMN TBL_JOB_CODE_MANAGE_HISTORY.JOB_CODE IS '직급코드';

COMMENT ON TABLE TBL_JOB_CODE_MANAGE_HISTORY IS '직급코드히스토리';


ALTER TABLE TBL_PROJECT_HISTORY
DROP CONSTRAINT TBL_PROJECT_HISTORY_FK1;

DROP TABLE TBL_PROJECT_HISTORY_CATEGORY;

CREATE TABLE TBL_PROJECT_HISTORY_CATEGORY
(
    PROJECT_UPDATED_CODE    VARCHAR2(10) NOT NULL,
    PROJECT_UPDATED_NAME    VARCHAR2(20) NOT NULL
);

COMMENT ON COLUMN TBL_PROJECT_HISTORY_CATEGORY.PROJECT_UPDATED_CODE IS '프로젝트변경코드';

COMMENT ON COLUMN TBL_PROJECT_HISTORY_CATEGORY.PROJECT_UPDATED_NAME IS '프로젝트변경항목';

COMMENT ON TABLE TBL_PROJECT_HISTORY_CATEGORY IS '프로젝트변경카테고리';

DROP INDEX PROJECT_UPDATED_CODE_PK;

CREATE UNIQUE INDEX PROJECT_UPDATED_CODE_PK ON TBL_PROJECT_HISTORY_CATEGORY
( PROJECT_UPDATED_CODE );

DROP INDEX TBL_PROJECT_HISTORY_CATEGORY_UK1;

CREATE UNIQUE INDEX TBL_PROJECT_HISTORY_CATEGORY_UK1 ON TBL_PROJECT_HISTORY_CATEGORY
( PROJECT_UPDATED_NAME );

ALTER TABLE TBL_PROJECT_HISTORY_CATEGORY
DROP PRIMARY KEY;

ALTER TABLE TBL_PROJECT_HISTORY_CATEGORY
 ADD CONSTRAINT PROJECT_UPDATED_CODE_PK PRIMARY KEY ( PROJECT_UPDATED_CODE )
 USING INDEX PROJECT_UPDATED_CODE_PK;

ALTER TABLE TBL_PROJECT_HISTORY_CATEGORY
DROP CONSTRAINT TBL_PROJECT_HISTORY_CATEGORY_UK;

ALTER TABLE TBL_PROJECT_HISTORY_CATEGORY
 ADD CONSTRAINT TBL_PROJECT_HISTORY_CATEGORY_UK UNIQUE ( PROJECT_UPDATED_NAME )
 USING INDEX TBL_PROJECT_HISTORY_CATEGORY_UK1;

ALTER TABLE TBL_PROJECT_HISTORY_CATEGORY
DROP CONSTRAINT TBL_PROJECT_HISTORY_CATEGORY_CK;

ALTER TABLE TBL_PROJECT_HISTORY_CATEGORY
 ADD CONSTRAINT TBL_PROJECT_HISTORY_CATEGORY_CK CHECK ( PROJECT_UPDATED_NAME IN ('프로젝트명','시작일','마감일','진행상태','진행율','상태','종료일','담당자번호') );

DROP TABLE TBL_PROJECT_HISTORY_CATEGORY;

COMMENT ON COLUMN TBL_PROJECT_HISTORY_CATEGORY.PROJECT_UPDATED_CODE IS '프로젝트변경코드';

COMMENT ON COLUMN TBL_PROJECT_HISTORY_CATEGORY.PROJECT_UPDATED_NAME IS '프로젝트변경항목';

COMMENT ON TABLE TBL_PROJECT_HISTORY_CATEGORY IS '프로젝트변경카테고리';


ALTER TABLE TBL_TASK_CODE_MANAGE_HISTORY
DROP CONSTRAINT TASK_CODE_MANAGE_HISTORY_FK;

ALTER TABLE TBL_TASK
DROP CONSTRAINT TBL_TASK_FK2;

DROP TABLE TBL_TASK_CODE_MANAGE;

CREATE TABLE TBL_TASK_CODE_MANAGE
(
    TASK_CATEGORY_CODE    VARCHAR2(10) NOT NULL,
    TASK_CATEGORY_NAME    VARCHAR2(15) NOT NULL
);

COMMENT ON COLUMN TBL_TASK_CODE_MANAGE.TASK_CATEGORY_CODE IS '업무코드';

COMMENT ON COLUMN TBL_TASK_CODE_MANAGE.TASK_CATEGORY_NAME IS '업무명';

COMMENT ON TABLE TBL_TASK_CODE_MANAGE IS '업무코드관리';

DROP INDEX TASK_CATEGORY_CODE_PK;

CREATE UNIQUE INDEX TASK_CATEGORY_CODE_PK ON TBL_TASK_CODE_MANAGE
( TASK_CATEGORY_CODE );

DROP INDEX TASK_CODE_MANAGE_UK1;

CREATE UNIQUE INDEX TASK_CODE_MANAGE_UK1 ON TBL_TASK_CODE_MANAGE
( TASK_CATEGORY_NAME );

ALTER TABLE TBL_TASK_CODE_MANAGE
DROP PRIMARY KEY;

ALTER TABLE TBL_TASK_CODE_MANAGE
 ADD CONSTRAINT TASK_CATEGORY_CODE_PK PRIMARY KEY ( TASK_CATEGORY_CODE )
 USING INDEX TASK_CATEGORY_CODE_PK;

ALTER TABLE TBL_TASK_CODE_MANAGE
DROP CONSTRAINT TASK_CODE_MANAGE_UK;

ALTER TABLE TBL_TASK_CODE_MANAGE
 ADD CONSTRAINT TASK_CODE_MANAGE_UK UNIQUE ( TASK_CATEGORY_NAME )
 USING INDEX TASK_CODE_MANAGE_UK1;

DROP TABLE TBL_TASK_CODE_MANAGE;

COMMENT ON COLUMN TBL_TASK_CODE_MANAGE.TASK_CATEGORY_CODE IS '업무코드';

COMMENT ON COLUMN TBL_TASK_CODE_MANAGE.TASK_CATEGORY_NAME IS '업무명';

COMMENT ON TABLE TBL_TASK_CODE_MANAGE IS '업무코드관리';


ALTER TABLE TBL_MEM_TEAM_HISTORY
DROP CONSTRAINT TBL_MEM_TEAM_HISTORY_FK;

ALTER TABLE TBL_MEM_TEAM_HISTORY
DROP CONSTRAINT TBL_MEM_TEAM_HISTORY_FK1;

DROP TABLE TBL_MEM_TEAM_HISTORY;

CREATE TABLE TBL_MEM_TEAM_HISTORY
(
    TEAM_MEM_HISTORY_NO NOT NULL,
    TEAM_CODE    VARCHAR2(10) NOT NULL,
    MEMBER_NO    NUMBER NOT NULL,
    TEAM_UPDATED_NAME    VARCHAR2(15) NOT NULL,
    TEAM_UPDATED_DATE    DATE DEFAULT SYSDATE NOT NULL
);

COMMENT ON COLUMN TBL_MEM_TEAM_HISTORY.TEAM_MEM_HISTORY_NO IS '팀변경히스토리번호';

COMMENT ON COLUMN TBL_MEM_TEAM_HISTORY.TEAM_CODE IS '팀코드';

COMMENT ON COLUMN TBL_MEM_TEAM_HISTORY.MEMBER_NO IS '회원번호';

COMMENT ON COLUMN TBL_MEM_TEAM_HISTORY.TEAM_UPDATED_NAME IS '수정후';

COMMENT ON COLUMN TBL_MEM_TEAM_HISTORY.TEAM_UPDATED_DATE IS '수정일';

COMMENT ON TABLE TBL_MEM_TEAM_HISTORY IS '회원팀변경이력';

DROP INDEX TEAM_MEM_HISTORY_NO_PK;

CREATE UNIQUE INDEX TEAM_MEM_HISTORY_NO_PK ON TBL_MEM_TEAM_HISTORY
( TEAM_MEM_HISTORY_NO );

ALTER TABLE TBL_MEM_TEAM_HISTORY
DROP PRIMARY KEY;

ALTER TABLE TBL_MEM_TEAM_HISTORY
 ADD CONSTRAINT TEAM_MEM_HISTORY_NO_PK PRIMARY KEY ( TEAM_MEM_HISTORY_NO )
 USING INDEX TEAM_MEM_HISTORY_NO_PK;

ALTER TABLE TBL_MEM_TEAM_HISTORY
DROP CONSTRAINT TBL_MEM_TEAM_HISTORY_FK;

ALTER TABLE TBL_MEM_TEAM_HISTORY
 ADD CONSTRAINT TBL_MEM_TEAM_HISTORY_FK FOREIGN KEY ( TEAM_CODE )
 REFERENCES TBL_TEAM (TEAM_CODE );

ALTER TABLE TBL_MEM_TEAM_HISTORY
DROP CONSTRAINT TBL_MEM_TEAM_HISTORY_FK1;

ALTER TABLE TBL_MEM_TEAM_HISTORY
 ADD CONSTRAINT TBL_MEM_TEAM_HISTORY_FK1 FOREIGN KEY ( MEMBER_NO )
 REFERENCES TBL_MEMBER (MEMBER_NO );

DROP TABLE TBL_MEM_TEAM_HISTORY;

COMMENT ON COLUMN TBL_MEM_TEAM_HISTORY.TEAM_MEM_HISTORY_NO IS '팀변경히스토리번호';

COMMENT ON COLUMN TBL_MEM_TEAM_HISTORY.TEAM_CODE IS '팀코드';

COMMENT ON COLUMN TBL_MEM_TEAM_HISTORY.MEMBER_NO IS '회원번호';

COMMENT ON COLUMN TBL_MEM_TEAM_HISTORY.TEAM_UPDATED_NAME IS '수정후';

COMMENT ON COLUMN TBL_MEM_TEAM_HISTORY.TEAM_UPDATED_DATE IS '수정일';

COMMENT ON TABLE TBL_MEM_TEAM_HISTORY IS '회원팀변경이력';


ALTER TABLE TBL_TASK_CODE_MANAGE_HISTORY
DROP CONSTRAINT TASK_CODE_MANAGE_HISTORY_FK;

DROP TABLE TBL_TASK_CODE_MANAGE_HISTORY;

CREATE TABLE TBL_TASK_CODE_MANAGE_HISTORY
(
    TASK_CODE_HISTORY_NO    NUMBER NOT NULL,
    TASK_UPDATED_CONTENT    VARCHAR2(30) NOT NULL,
    TASK_UPDATED_TYPE    VARCHAR2(10) NOT NULL,
    TASK_UPDATED_DATE    DATE DEFAULT SYSDATE NOT NULL,
    TASK_CATEGORY_CODE    VARCHAR2(10)
);

COMMENT ON COLUMN TBL_TASK_CODE_MANAGE_HISTORY.TASK_CODE_HISTORY_NO IS '업무코드히스토리번호';

COMMENT ON COLUMN TBL_TASK_CODE_MANAGE_HISTORY.TASK_UPDATED_CONTENT IS '수정내역';

COMMENT ON COLUMN TBL_TASK_CODE_MANAGE_HISTORY.TASK_UPDATED_TYPE IS '수정종류';

COMMENT ON COLUMN TBL_TASK_CODE_MANAGE_HISTORY.TASK_UPDATED_DATE IS '수정일';

COMMENT ON COLUMN TBL_TASK_CODE_MANAGE_HISTORY.TASK_CATEGORY_CODE IS '업무코드';

COMMENT ON TABLE TBL_TASK_CODE_MANAGE_HISTORY IS '업무코드히스토리';

DROP INDEX 엔터티2_PK1;

CREATE UNIQUE INDEX 엔터티2_PK1 ON TBL_TASK_CODE_MANAGE_HISTORY
( TASK_CODE_HISTORY_NO );

DROP INDEX TASK_CODE_MANAGE_HISTORY;


ALTER TABLE TBL_TASK_CODE_MANAGE_HISTORY
DROP PRIMARY KEY;

ALTER TABLE TBL_TASK_CODE_MANAGE_HISTORY
 ADD CONSTRAINT TASK_CODE_HISTORY_NO_PK PRIMARY KEY ( TASK_CODE_HISTORY_NO )
 USING INDEX 엔터티2_PK1;

ALTER TABLE TBL_TASK_CODE_MANAGE_HISTORY
DROP CONSTRAINT TASK_CODE_MANAGE_HISTORY_CK;

ALTER TABLE TBL_TASK_CODE_MANAGE_HISTORY
 ADD CONSTRAINT TASK_CODE_MANAGE_HISTORY_CK CHECK ( TASK_UPDATED_TYPE IN ('추가','수정','삭제') );

ALTER TABLE TBL_TASK_CODE_MANAGE_HISTORY
DROP CONSTRAINT TASK_CODE_MANAGE_HISTORY_FK;

ALTER TABLE TBL_TASK_CODE_MANAGE_HISTORY
 ADD CONSTRAINT TASK_CODE_MANAGE_HISTORY_FK FOREIGN KEY ( TASK_CATEGORY_CODE )
 REFERENCES TBL_TASK_CODE_MANAGE (TASK_CATEGORY_CODE );

DROP TABLE TBL_TASK_CODE_MANAGE_HISTORY;

COMMENT ON COLUMN TBL_TASK_CODE_MANAGE_HISTORY.TASK_CODE_HISTORY_NO IS '업무코드히스토리번호';

COMMENT ON COLUMN TBL_TASK_CODE_MANAGE_HISTORY.TASK_UPDATED_CONTENT IS '수정내역';

COMMENT ON COLUMN TBL_TASK_CODE_MANAGE_HISTORY.TASK_UPDATED_TYPE IS '수정종류';

COMMENT ON COLUMN TBL_TASK_CODE_MANAGE_HISTORY.TASK_UPDATED_DATE IS '수정일';

COMMENT ON COLUMN TBL_TASK_CODE_MANAGE_HISTORY.TASK_CATEGORY_CODE IS '업무코드';

COMMENT ON TABLE TBL_TASK_CODE_MANAGE_HISTORY IS '업무코드히스토리';


ALTER TABLE TBL_TASK_HISTORY
DROP CONSTRAINT TBL_TASK_HISTORY_FK;

DROP TABLE TBL_TASK_CATEGORY;

CREATE TABLE TBL_TASK_CATEGORY
(
    TASK_UPDATED_CODE    VARCHAR2(10) NOT NULL,
    TASK_UPDATED_NAME    VARCHAR2(20) NOT NULL
);

COMMENT ON COLUMN TBL_TASK_CATEGORY.TASK_UPDATED_CODE IS '변경코드';

COMMENT ON COLUMN TBL_TASK_CATEGORY.TASK_UPDATED_NAME IS '변경목록명(추가,수정,삭제?)';

COMMENT ON TABLE TBL_TASK_CATEGORY IS '업무코드카테고리';

DROP INDEX 엔터티1_PK8;

CREATE UNIQUE INDEX 엔터티1_PK8 ON TBL_TASK_CATEGORY
( TASK_UPDATED_CODE );

DROP INDEX TBL_TASK_CATEGORY_UK1;

CREATE UNIQUE INDEX TBL_TASK_CATEGORY_UK1 ON TBL_TASK_CATEGORY
( TASK_UPDATED_NAME );

ALTER TABLE TBL_TASK_CATEGORY
DROP PRIMARY KEY;

ALTER TABLE TBL_TASK_CATEGORY
 ADD CONSTRAINT TASK_UPDATED_CODE_PK PRIMARY KEY ( TASK_UPDATED_CODE )
 USING INDEX 엔터티1_PK8;

ALTER TABLE TBL_TASK_CATEGORY
DROP CONSTRAINT TBL_TASK_CATEGORY_UK;

ALTER TABLE TBL_TASK_CATEGORY
 ADD CONSTRAINT TBL_TASK_CATEGORY_UK UNIQUE ( TASK_UPDATED_NAME )
 USING INDEX TBL_TASK_CATEGORY_UK1;

DROP TABLE TBL_TASK_CATEGORY;

COMMENT ON COLUMN TBL_TASK_CATEGORY.TASK_UPDATED_CODE IS '변경코드';

COMMENT ON COLUMN TBL_TASK_CATEGORY.TASK_UPDATED_NAME IS '변경목록명(추가,수정,삭제?)';

COMMENT ON TABLE TBL_TASK_CATEGORY IS '업무코드카테고리';


ALTER TABLE TBL_AUTORIZATION_MENU
DROP CONSTRAINT TBL_AUTORIZATION_MENU_FK;

DROP TABLE TBL_AUTHORIZATION_URL;

CREATE TABLE TBL_AUTHORIZATION_URL
(
    AUTHORIZATION_URL_NO    NUMBER NOT NULL,
    AUTHORIZATION_URL_PATH    VARCHAR2(500) NOT NULL,
    AUTHORIZATION_URL_CATEGORY_NAME    VARCHAR2(20) NOT NULL,
    AUTHORIZATION_FUNCTION_NAME    VARCHAR2(20) NOT NULL
);

COMMENT ON COLUMN TBL_AUTHORIZATION_URL.AUTHORIZATION_URL_NO IS 'url번호';

COMMENT ON COLUMN TBL_AUTHORIZATION_URL.AUTHORIZATION_URL_PATH IS '경로';

COMMENT ON COLUMN TBL_AUTHORIZATION_URL.AUTHORIZATION_URL_CATEGORY_NAME IS 'url카테고리';

COMMENT ON COLUMN TBL_AUTHORIZATION_URL.AUTHORIZATION_FUNCTION_NAME IS '기능명칭';

COMMENT ON TABLE TBL_AUTHORIZATION_URL IS '권한카테고리';

DROP INDEX AUTHORIZATION_URL_NO_PK;

CREATE UNIQUE INDEX AUTHORIZATION_URL_NO_PK ON TBL_AUTHORIZATION_URL
( AUTHORIZATION_URL_NO );

ALTER TABLE TBL_AUTHORIZATION_URL
DROP PRIMARY KEY;

ALTER TABLE TBL_AUTHORIZATION_URL
 ADD CONSTRAINT AUTHORIZATION_URL_NO_PK PRIMARY KEY ( AUTHORIZATION_URL_NO )
 USING INDEX AUTHORIZATION_URL_NO_PK;

DROP TABLE TBL_AUTHORIZATION_URL;

COMMENT ON COLUMN TBL_AUTHORIZATION_URL.AUTHORIZATION_URL_NO IS 'url번호';

COMMENT ON COLUMN TBL_AUTHORIZATION_URL.AUTHORIZATION_URL_PATH IS '경로';

COMMENT ON COLUMN TBL_AUTHORIZATION_URL.AUTHORIZATION_URL_CATEGORY_NAME IS 'url카테고리';

COMMENT ON COLUMN TBL_AUTHORIZATION_URL.AUTHORIZATION_FUNCTION_NAME IS '기능명칭';

COMMENT ON TABLE TBL_AUTHORIZATION_URL IS '권한카테고리';


ALTER TABLE TBL_AUTORIZATION_MENU
DROP CONSTRAINT TBL_AUTORIZATION_MENU_FK;

ALTER TABLE TBL_AUTORIZATION_MENU
DROP CONSTRAINT TBL_AUTORIZATION_MENU_FK1;

DROP TABLE TBL_AUTORIZATION_MENU;

CREATE TABLE TBL_AUTORIZATION_MENU
(
    AUTHORIZATION_NO    NUMBER NOT NULL,
    AUTHORIZATION_URL_NO    NUMBER NOT NULL
);

COMMENT ON COLUMN TBL_AUTORIZATION_MENU.AUTHORIZATION_NO IS '권한번호';

COMMENT ON COLUMN TBL_AUTORIZATION_MENU.AUTHORIZATION_URL_NO IS 'url번호';

COMMENT ON TABLE TBL_AUTORIZATION_MENU IS '권한별접근가능메뉴';

DROP INDEX AUTHORIZATION_NO_PK;

CREATE UNIQUE INDEX AUTHORIZATION_NO_PK ON TBL_AUTORIZATION_MENU
( AUTHORIZATION_NO );

ALTER TABLE TBL_AUTORIZATION_MENU
DROP PRIMARY KEY;

ALTER TABLE TBL_AUTORIZATION_MENU
 ADD CONSTRAINT AUTHORIZATION_NO_PK PRIMARY KEY ( AUTHORIZATION_NO )
 USING INDEX AUTHORIZATION_NO_PK;

ALTER TABLE TBL_AUTORIZATION_MENU
DROP CONSTRAINT TBL_AUTORIZATION_MENU_FK;

ALTER TABLE TBL_AUTORIZATION_MENU
 ADD CONSTRAINT TBL_AUTORIZATION_MENU_FK FOREIGN KEY ( AUTHORIZATION_URL_NO )
 REFERENCES TBL_AUTHORIZATION_URL (AUTHORIZATION_URL_NO );

ALTER TABLE TBL_AUTORIZATION_MENU
DROP CONSTRAINT TBL_AUTORIZATION_MENU_FK1;

ALTER TABLE TBL_AUTORIZATION_MENU
 ADD CONSTRAINT TBL_AUTORIZATION_MENU_FK1 FOREIGN KEY ( AUTHORIZATION_NO )
 REFERENCES TBL_MEMBER_AUTHORIZATION_TYPE (MEMBER_AUTHORIZATION_NO );

DROP TABLE TBL_AUTORIZATION_MENU;

COMMENT ON COLUMN TBL_AUTORIZATION_MENU.AUTHORIZATION_NO IS '권한번호';

COMMENT ON COLUMN TBL_AUTORIZATION_MENU.AUTHORIZATION_URL_NO IS 'url번호';

COMMENT ON TABLE TBL_AUTORIZATION_MENU IS '권한별접근가능메뉴';


ALTER TABLE TBL_MEMBER_HISTORY
DROP CONSTRAINT TBL_MEMBER_HISTORY_FK;

DROP TABLE TBL_MEMBER_HISTORY;

CREATE TABLE TBL_MEMBER_HISTORY
(
    MEM_HISTORY_NO    NUMBER NOT NULL,
    MEM_HISTORY_CODE    VARCHAR2(15) NOT NULL,
    MEM_HISTORY_CONTENT    VARCHAR2(100) NOT NULL,
    MEM_HISTORY_UPDATED_DATE    DATE NOT NULL,
    MEMBER_NO    NUMBER NOT NULL
);

COMMENT ON COLUMN TBL_MEMBER_HISTORY.MEM_HISTORY_NO IS '회원변경히스토리번호';

COMMENT ON COLUMN TBL_MEMBER_HISTORY.MEM_HISTORY_CODE IS '회원변경코드';

COMMENT ON COLUMN TBL_MEMBER_HISTORY.MEM_HISTORY_CONTENT IS '회원변경내용';

COMMENT ON COLUMN TBL_MEMBER_HISTORY.MEM_HISTORY_UPDATED_DATE IS '회원변경일자';

COMMENT ON COLUMN TBL_MEMBER_HISTORY.MEMBER_NO IS '회원번호';

COMMENT ON TABLE TBL_MEMBER_HISTORY IS '회원이력';

DROP INDEX 엔터티1_PK7;

CREATE UNIQUE INDEX 엔터티1_PK7 ON TBL_MEMBER_HISTORY
( MEM_HISTORY_NO );

ALTER TABLE TBL_MEMBER_HISTORY
DROP PRIMARY KEY;

ALTER TABLE TBL_MEMBER_HISTORY
 ADD CONSTRAINT MEM_HISTORY_NO_PK PRIMARY KEY ( MEM_HISTORY_NO )
 USING INDEX 엔터티1_PK7;

ALTER TABLE TBL_MEMBER_HISTORY
DROP CONSTRAINT TBL_MEMBER_HISTORY_FK;

ALTER TABLE TBL_MEMBER_HISTORY
 ADD CONSTRAINT TBL_MEMBER_HISTORY_FK FOREIGN KEY ( MEMBER_NO )
 REFERENCES TBL_MEMBER (MEMBER_NO );

DROP TABLE TBL_MEMBER_HISTORY;

COMMENT ON COLUMN TBL_MEMBER_HISTORY.MEM_HISTORY_NO IS '회원변경히스토리번호';

COMMENT ON COLUMN TBL_MEMBER_HISTORY.MEM_HISTORY_CODE IS '회원변경코드';

COMMENT ON COLUMN TBL_MEMBER_HISTORY.MEM_HISTORY_CONTENT IS '회원변경내용';

COMMENT ON COLUMN TBL_MEMBER_HISTORY.MEM_HISTORY_UPDATED_DATE IS '회원변경일자';

COMMENT ON COLUMN TBL_MEMBER_HISTORY.MEMBER_NO IS '회원번호';

COMMENT ON TABLE TBL_MEMBER_HISTORY IS '회원이력';


ALTER TABLE TBL_MEM_JOB_HISTORY
DROP CONSTRAINT TBL_MEM_JOB_HISTORY_FK;

ALTER TABLE TBL_MEM_JOB_HISTORY
DROP CONSTRAINT TBL_MEM_JOB_HISTORY_FK1;

DROP TABLE TBL_MEM_JOB_HISTORY;

CREATE TABLE TBL_MEM_JOB_HISTORY
(
    JOB_MEM_HISTORY_NO    NUMBER NOT NULL,
    JOB_CODE    VARCHAR2(10) NOT NULL,
    MEMBER_NO    NUMBER NOT NULL,
    JOB_UPDATED_TITLE    VARCHAR2(15) NOT NULL,
    JOB_UPDATED_DATE    DATE DEFAULT SYSDATE NOT NULL
);

COMMENT ON COLUMN TBL_MEM_JOB_HISTORY.JOB_MEM_HISTORY_NO IS '직급변경히스토리번호';

COMMENT ON COLUMN TBL_MEM_JOB_HISTORY.JOB_CODE IS '직급코드';

COMMENT ON COLUMN TBL_MEM_JOB_HISTORY.MEMBER_NO IS '회원번호';

COMMENT ON COLUMN TBL_MEM_JOB_HISTORY.JOB_UPDATED_TITLE IS '수정후직급';

COMMENT ON COLUMN TBL_MEM_JOB_HISTORY.JOB_UPDATED_DATE IS '수정일';

COMMENT ON TABLE TBL_MEM_JOB_HISTORY IS '회원직급변경이력';

DROP INDEX 엔터티1_PK9;

CREATE UNIQUE INDEX 엔터티1_PK9 ON TBL_MEM_JOB_HISTORY
( JOB_MEM_HISTORY_NO );

ALTER TABLE TBL_MEM_JOB_HISTORY
DROP PRIMARY KEY;

ALTER TABLE TBL_MEM_JOB_HISTORY
 ADD CONSTRAINT JOB_MEM_HISTORY_NO_PK PRIMARY KEY ( JOB_MEM_HISTORY_NO )
 USING INDEX 엔터티1_PK9;

ALTER TABLE TBL_MEM_JOB_HISTORY
DROP CONSTRAINT TBL_MEM_JOB_HISTORY_FK;

ALTER TABLE TBL_MEM_JOB_HISTORY
 ADD CONSTRAINT TBL_MEM_JOB_HISTORY_FK FOREIGN KEY ( MEMBER_NO )
 REFERENCES TBL_MEMBER (MEMBER_NO );

ALTER TABLE TBL_MEM_JOB_HISTORY
DROP CONSTRAINT TBL_MEM_JOB_HISTORY_FK1;

ALTER TABLE TBL_MEM_JOB_HISTORY
 ADD CONSTRAINT TBL_MEM_JOB_HISTORY_FK1 FOREIGN KEY ( JOB_CODE )
 REFERENCES TBL_JOB_TITLE (JOB_CODE );

DROP TABLE TBL_MEM_JOB_HISTORY;

COMMENT ON COLUMN TBL_MEM_JOB_HISTORY.JOB_MEM_HISTORY_NO IS '직급변경히스토리번호';

COMMENT ON COLUMN TBL_MEM_JOB_HISTORY.JOB_CODE IS '직급코드';

COMMENT ON COLUMN TBL_MEM_JOB_HISTORY.MEMBER_NO IS '회원번호';

COMMENT ON COLUMN TBL_MEM_JOB_HISTORY.JOB_UPDATED_TITLE IS '수정후직급';

COMMENT ON COLUMN TBL_MEM_JOB_HISTORY.JOB_UPDATED_DATE IS '수정일';

COMMENT ON TABLE TBL_MEM_JOB_HISTORY IS '회원직급변경이력';


ALTER TABLE TBL_PROJECT_HISTORY
DROP CONSTRAINT TBL_PROJECT_HISTORY_FK;

ALTER TABLE TBL_PROJECT_HISTORY
DROP CONSTRAINT TBL_PROJECT_HISTORY_FK1;

ALTER TABLE TBL_PROJECT_HISTORY
DROP CONSTRAINT TBL_PROJECT_HISTORY_FK2;

ALTER TABLE TBL_PROJECT_HISTORY
DROP CONSTRAINT TBL_PROJECT_HISTORY_FK3;

DROP TABLE TBL_PROJECT_HISTORY;

CREATE TABLE TBL_PROJECT_HISTORY
(
    PROJECT_HISTORY_NO    NUMBER NOT NULL,
    PROJECT_NO    NUMBER NOT NULL,
    PROJECT_UPDATED_CONTENT    VARCHAR2(50) NOT NULL,
    PROJECT_UPDATED_DATE    DATE DEFAULT SYSDATE NOT NULL,
    MEMBER_NO    NUMBER NOT NULL,
    PROJECT_UPDATED_CODE    VARCHAR2(10) NOT NULL,
    PROJECT_PROGRESS_STATUS_CODE    VARCHAR2(50),
    TASK_MEM_HISTORY_NO    NUMBER NOT NULL
);

COMMENT ON COLUMN TBL_PROJECT_HISTORY.PROJECT_HISTORY_NO IS '프로젝트히스토리번호';

COMMENT ON COLUMN TBL_PROJECT_HISTORY.PROJECT_NO IS '프로젝트번호';

COMMENT ON COLUMN TBL_PROJECT_HISTORY.PROJECT_UPDATED_CONTENT IS '프로젝트변경내용';

COMMENT ON COLUMN TBL_PROJECT_HISTORY.PROJECT_UPDATED_DATE IS '프로젝트변경일자';

COMMENT ON COLUMN TBL_PROJECT_HISTORY.MEMBER_NO IS '회원번호';

COMMENT ON COLUMN TBL_PROJECT_HISTORY.PROJECT_UPDATED_CODE IS '프로젝트변경코드';

COMMENT ON COLUMN TBL_PROJECT_HISTORY.PROJECT_PROGRESS_STATUS_CODE IS '프로젝트진행상태코드';

COMMENT ON COLUMN TBL_PROJECT_HISTORY.TASK_MEM_HISTORY_NO IS '배정번호';

COMMENT ON TABLE TBL_PROJECT_HISTORY IS '프로젝트 이력';

DROP INDEX 엔터티1_PK6;

CREATE UNIQUE INDEX 엔터티1_PK6 ON TBL_PROJECT_HISTORY
( PROJECT_HISTORY_NO );

ALTER TABLE TBL_PROJECT_HISTORY
DROP PRIMARY KEY;

ALTER TABLE TBL_PROJECT_HISTORY
 ADD CONSTRAINT PROJECT_HISTORY_NO_PK PRIMARY KEY ( PROJECT_HISTORY_NO )
 USING INDEX 엔터티1_PK6;

ALTER TABLE TBL_PROJECT_HISTORY
DROP CONSTRAINT TBL_PROJECT_HISTORY_FK;

ALTER TABLE TBL_PROJECT_HISTORY
 ADD CONSTRAINT TBL_PROJECT_HISTORY_FK FOREIGN KEY ( PROJECT_PROGRESS_STATUS_CODE )
 REFERENCES TBL_PROJECT_STATUS (PROJECT_PROGRESS_STATUS_CODE );

ALTER TABLE TBL_PROJECT_HISTORY
DROP CONSTRAINT TBL_PROJECT_HISTORY_FK1;

ALTER TABLE TBL_PROJECT_HISTORY
 ADD CONSTRAINT TBL_PROJECT_HISTORY_FK1 FOREIGN KEY ( PROJECT_UPDATED_CODE )
 REFERENCES TBL_PROJECT_HISTORY_CATEGORY (PROJECT_UPDATED_CODE );

ALTER TABLE TBL_PROJECT_HISTORY
DROP CONSTRAINT TBL_PROJECT_HISTORY_FK2;

ALTER TABLE TBL_PROJECT_HISTORY
 ADD CONSTRAINT TBL_PROJECT_HISTORY_FK2 FOREIGN KEY ( MEMBER_NO )
 REFERENCES TBL_MEMBER (MEMBER_NO );

ALTER TABLE TBL_PROJECT_HISTORY
DROP CONSTRAINT TBL_PROJECT_HISTORY_FK3;

ALTER TABLE TBL_PROJECT_HISTORY
 ADD CONSTRAINT TBL_PROJECT_HISTORY_FK3 FOREIGN KEY ( PROJECT_NO )
 REFERENCES TBL_PROJECT (PROJECT_NO );

DROP TABLE TBL_PROJECT_HISTORY;

COMMENT ON COLUMN TBL_PROJECT_HISTORY.PROJECT_HISTORY_NO IS '프로젝트히스토리번호';

COMMENT ON COLUMN TBL_PROJECT_HISTORY.PROJECT_NO IS '프로젝트번호';

COMMENT ON COLUMN TBL_PROJECT_HISTORY.PROJECT_UPDATED_CONTENT IS '프로젝트변경내용';

COMMENT ON COLUMN TBL_PROJECT_HISTORY.PROJECT_UPDATED_DATE IS '프로젝트변경일자';

COMMENT ON COLUMN TBL_PROJECT_HISTORY.MEMBER_NO IS '회원번호';

COMMENT ON COLUMN TBL_PROJECT_HISTORY.PROJECT_UPDATED_CODE IS '프로젝트변경코드';

COMMENT ON COLUMN TBL_PROJECT_HISTORY.PROJECT_PROGRESS_STATUS_CODE IS '프로젝트진행상태코드';

COMMENT ON COLUMN TBL_PROJECT_HISTORY.TASK_MEM_HISTORY_NO IS '배정번호';

COMMENT ON TABLE TBL_PROJECT_HISTORY IS '프로젝트 이력';


ALTER TABLE TBL_OUTPUT_FILE
DROP CONSTRAINT TBL_OUTPUT_FILE_FK;

DROP TABLE TBL_OUTPUT_FILE;

CREATE TABLE TBL_OUTPUT_FILE
(
    OUTPUT_FILE_NO    NUMBER NOT NULL,
    OUPUT_FILE_PATH    VARCHAR2(500) NOT NULL,
    OUTPUT_ORIGIN_NAME    VARCHAR2(500) NOT NULL,
    OUTPUT_RANDOM_NAME    VARCHAR2(500) NOT NULL,
    OUTPUT_STATUS    VARCHAR2(1) DEFAULT 'Y' NOT NULL,
    OUTPUT_REGISTED_DATE    DATE DEFAULT SYSDATE NOT NULL,
    REF_OUTPUT_NO    NUMBER NOT NULL
);

COMMENT ON COLUMN TBL_OUTPUT_FILE.OUTPUT_FILE_NO IS '산출물파일번호';

COMMENT ON COLUMN TBL_OUTPUT_FILE.OUPUT_FILE_PATH IS '산출물파일경로';

COMMENT ON COLUMN TBL_OUTPUT_FILE.OUTPUT_ORIGIN_NAME IS '산출물origin파일명';

COMMENT ON COLUMN TBL_OUTPUT_FILE.OUTPUT_RANDOM_NAME IS '산출물random파일명';

COMMENT ON COLUMN TBL_OUTPUT_FILE.OUTPUT_STATUS IS '삭제여부(Y/N)';

COMMENT ON COLUMN TBL_OUTPUT_FILE.OUTPUT_REGISTED_DATE IS '산출물등록일';

COMMENT ON COLUMN TBL_OUTPUT_FILE.REF_OUTPUT_NO IS '산출물번호';

COMMENT ON TABLE TBL_OUTPUT_FILE IS '산출물첨부파일';

DROP INDEX OUTPUT_FILE_NO_PK;

CREATE UNIQUE INDEX OUTPUT_FILE_NO_PK ON TBL_OUTPUT_FILE
( OUTPUT_FILE_NO );

DROP INDEX TBL_OUTPUT_FILE_UK1;

CREATE UNIQUE INDEX TBL_OUTPUT_FILE_UK1 ON TBL_OUTPUT_FILE
( OUPUT_FILE_PATH,OUTPUT_ORIGIN_NAME,OUTPUT_RANDOM_NAME );

ALTER TABLE TBL_OUTPUT_FILE
DROP PRIMARY KEY;

ALTER TABLE TBL_OUTPUT_FILE
 ADD CONSTRAINT OUTPUT_FILE_NO_PK PRIMARY KEY ( OUTPUT_FILE_NO )
 USING INDEX OUTPUT_FILE_NO_PK;

ALTER TABLE TBL_OUTPUT_FILE
DROP CONSTRAINT TBL_OUTPUT_FILE_UK;

ALTER TABLE TBL_OUTPUT_FILE
 ADD CONSTRAINT TBL_OUTPUT_FILE_UK UNIQUE ( OUPUT_FILE_PATH,OUTPUT_ORIGIN_NAME,OUTPUT_RANDOM_NAME )
 USING INDEX TBL_OUTPUT_FILE_UK1;

ALTER TABLE TBL_OUTPUT_FILE
DROP CONSTRAINT TBL_OUTPUT_FILE_CK;

ALTER TABLE TBL_OUTPUT_FILE
 ADD CONSTRAINT TBL_OUTPUT_FILE_CK CHECK ( OUTPUT_STATUS IN ('Y','N') );

ALTER TABLE TBL_OUTPUT_FILE
DROP CONSTRAINT TBL_OUTPUT_FILE_FK;

ALTER TABLE TBL_OUTPUT_FILE
 ADD CONSTRAINT TBL_OUTPUT_FILE_FK FOREIGN KEY ( REF_OUTPUT_NO )
 REFERENCES TBL_OUTPUT (OUTPUT_NO );

DROP TABLE TBL_OUTPUT_FILE;

COMMENT ON COLUMN TBL_OUTPUT_FILE.OUTPUT_FILE_NO IS '산출물파일번호';

COMMENT ON COLUMN TBL_OUTPUT_FILE.OUPUT_FILE_PATH IS '산출물파일경로';

COMMENT ON COLUMN TBL_OUTPUT_FILE.OUTPUT_ORIGIN_NAME IS '산출물origin파일명';

COMMENT ON COLUMN TBL_OUTPUT_FILE.OUTPUT_RANDOM_NAME IS '산출물random파일명';

COMMENT ON COLUMN TBL_OUTPUT_FILE.OUTPUT_STATUS IS '삭제여부(Y/N)';

COMMENT ON COLUMN TBL_OUTPUT_FILE.OUTPUT_REGISTED_DATE IS '산출물등록일';

COMMENT ON COLUMN TBL_OUTPUT_FILE.REF_OUTPUT_NO IS '산출물번호';

COMMENT ON TABLE TBL_OUTPUT_FILE IS '산출물첨부파일';


ALTER TABLE TBL_TASK_HISTORY
DROP CONSTRAINT TBL_TASK_HISTORY_FK;

ALTER TABLE TBL_TASK_HISTORY
DROP CONSTRAINT TBL_TASK_HISTORY_FK1;

ALTER TABLE TBL_TASK_HISTORY
DROP CONSTRAINT TBL_TASK_HISTORY_FK2;

DROP TABLE TBL_TASK_HISTORY;

CREATE TABLE TBL_TASK_HISTORY
(
    TASK_HISTORY_NO    NUMBER NOT NULL,
    TASK_PROGRESS_STATUS    VARCHAR2(10) NOT NULL,
    TASK_NO    NUMBER NOT NULL,
    MEMBER_NO    NUMBER NOT NULL,
    TASK_HISTORY_RECORD    VARCHAR2(20) NOT NULL,
    TASK_UPDATED_DATE    DATE DEFAULT SYSDATE NOT NULL,
    TASK_UPDATED_CODE    VARCHAR2(10)
);

COMMENT ON COLUMN TBL_TASK_HISTORY.TASK_HISTORY_NO IS '히스토리 번호';

COMMENT ON COLUMN TBL_TASK_HISTORY.TASK_PROGRESS_STATUS IS '진행상태';

COMMENT ON COLUMN TBL_TASK_HISTORY.TASK_NO IS '업무번호';

COMMENT ON COLUMN TBL_TASK_HISTORY.MEMBER_NO IS '회원번호';

COMMENT ON COLUMN TBL_TASK_HISTORY.TASK_HISTORY_RECORD IS '이력';

COMMENT ON COLUMN TBL_TASK_HISTORY.TASK_UPDATED_DATE IS '변경일자';

COMMENT ON COLUMN TBL_TASK_HISTORY.TASK_UPDATED_CODE IS '변경코드';

COMMENT ON TABLE TBL_TASK_HISTORY IS '업무히스토리';

DROP INDEX TASK_HISTORY_NO_PK;

CREATE UNIQUE INDEX TASK_HISTORY_NO_PK ON TBL_TASK_HISTORY
( TASK_HISTORY_NO );

ALTER TABLE TBL_TASK_HISTORY
DROP PRIMARY KEY;

ALTER TABLE TBL_TASK_HISTORY
 ADD CONSTRAINT TASK_HISTORY_NO_PK PRIMARY KEY ( TASK_HISTORY_NO )
 USING INDEX TASK_HISTORY_NO_PK;

ALTER TABLE TBL_TASK_HISTORY
DROP CONSTRAINT TBL_TASK_HISTORY_CK;

ALTER TABLE TBL_TASK_HISTORY
 ADD CONSTRAINT TBL_TASK_HISTORY_CK CHECK ( TASK_PROGRESS_STATUS IN ('개발전','개발중','개발완료','테스트완료') );

ALTER TABLE TBL_TASK_HISTORY
DROP CONSTRAINT TBL_TASK_HISTORY_FK;

ALTER TABLE TBL_TASK_HISTORY
 ADD CONSTRAINT TBL_TASK_HISTORY_FK FOREIGN KEY ( TASK_UPDATED_CODE )
 REFERENCES TBL_TASK_CATEGORY (TASK_UPDATED_CODE );

ALTER TABLE TBL_TASK_HISTORY
DROP CONSTRAINT TBL_TASK_HISTORY_FK1;

ALTER TABLE TBL_TASK_HISTORY
 ADD CONSTRAINT TBL_TASK_HISTORY_FK1 FOREIGN KEY ( MEMBER_NO )
 REFERENCES TBL_MEMBER (MEMBER_NO );

ALTER TABLE TBL_TASK_HISTORY
DROP CONSTRAINT TBL_TASK_HISTORY_FK2;

ALTER TABLE TBL_TASK_HISTORY
 ADD CONSTRAINT TBL_TASK_HISTORY_FK2 FOREIGN KEY ( TASK_NO )
 REFERENCES TBL_TASK (TASK_NO );

DROP TABLE TBL_TASK_HISTORY;

COMMENT ON COLUMN TBL_TASK_HISTORY.TASK_HISTORY_NO IS '히스토리 번호';

COMMENT ON COLUMN TBL_TASK_HISTORY.TASK_PROGRESS_STATUS IS '진행상태';

COMMENT ON COLUMN TBL_TASK_HISTORY.TASK_NO IS '업무번호';

COMMENT ON COLUMN TBL_TASK_HISTORY.MEMBER_NO IS '회원번호';

COMMENT ON COLUMN TBL_TASK_HISTORY.TASK_HISTORY_RECORD IS '이력';

COMMENT ON COLUMN TBL_TASK_HISTORY.TASK_UPDATED_DATE IS '변경일자';

COMMENT ON COLUMN TBL_TASK_HISTORY.TASK_UPDATED_CODE IS '변경코드';

COMMENT ON TABLE TBL_TASK_HISTORY IS '업무히스토리';


ALTER TABLE TBL_FILE
DROP CONSTRAINT TBL_FILE_FK;

ALTER TABLE TBL_FILE
DROP CONSTRAINT TBL_FILE_FK1;

ALTER TABLE TBL_FILE
DROP CONSTRAINT TBL_FILE_FK2;

DROP TABLE TBL_FILE;

CREATE TABLE TBL_FILE
(
    FILE_NO    NUMBER NOT NULL,
    FILE_PATH    VARCHAR2(100) NOT NULL,
    FILE_ORIGIN_NAME    VARCHAR2(100) NOT NULL,
    FILE_RANDOM_NAME    VARCHAR2(100) NOT NULL,
    FILE_STATUS    VARCHAR2(1) DEFAULT 'Y' NOT NULL,
    REF_ISSUE_NO    NUMBER,
    REF_TASK_NO    NUMBER,
    REF_BOARD_NO    NUMBER,
    FILE_CATEGORY_NO    NUMBER NOT NULL
);

COMMENT ON COLUMN TBL_FILE.FILE_NO IS '파일번호';

COMMENT ON COLUMN TBL_FILE.FILE_PATH IS '파일경로';

COMMENT ON COLUMN TBL_FILE.FILE_ORIGIN_NAME IS 'origin파일명';

COMMENT ON COLUMN TBL_FILE.FILE_RANDOM_NAME IS 'random파일명';

COMMENT ON COLUMN TBL_FILE.FILE_STATUS IS '삭제여부(Y/N)';

COMMENT ON COLUMN TBL_FILE.REF_ISSUE_NO IS '이슈번호';

COMMENT ON COLUMN TBL_FILE.REF_TASK_NO IS '업무번호';

COMMENT ON COLUMN TBL_FILE.REF_BOARD_NO IS '게시판글번호';

COMMENT ON COLUMN TBL_FILE.FILE_CATEGORY_NO IS '카테고리코드';

COMMENT ON TABLE TBL_FILE IS '첨부파일';

DROP INDEX 엔터티1_PK5;

CREATE UNIQUE INDEX 엔터티1_PK5 ON TBL_FILE
( FILE_NO );

DROP INDEX TBL_FILE_UK1;

CREATE UNIQUE INDEX TBL_FILE_UK1 ON TBL_FILE
( FILE_PATH,FILE_ORIGIN_NAME,FILE_RANDOM_NAME );

ALTER TABLE TBL_FILE
DROP PRIMARY KEY;

ALTER TABLE TBL_FILE
 ADD CONSTRAINT FILE_NO_PK PRIMARY KEY ( FILE_NO )
 USING INDEX 엔터티1_PK5;

ALTER TABLE TBL_FILE
DROP CONSTRAINT TBL_FILE_UK;

ALTER TABLE TBL_FILE
 ADD CONSTRAINT TBL_FILE_UK UNIQUE ( FILE_PATH,FILE_ORIGIN_NAME,FILE_RANDOM_NAME )
 USING INDEX TBL_FILE_UK1;

ALTER TABLE TBL_FILE
DROP CONSTRAINT TBL_FILE_CK;

ALTER TABLE TBL_FILE
 ADD CONSTRAINT TBL_FILE_CK CHECK ( FILE_STATUS IN ('Y','N') );

ALTER TABLE TBL_FILE
DROP CONSTRAINT TBL_FILE_FK;

ALTER TABLE TBL_FILE
 ADD CONSTRAINT TBL_FILE_FK FOREIGN KEY ( REF_ISSUE_NO )
 REFERENCES TBL_ISSUE (ISSUE_NO );

ALTER TABLE TBL_FILE
DROP CONSTRAINT TBL_FILE_FK1;

ALTER TABLE TBL_FILE
 ADD CONSTRAINT TBL_FILE_FK1 FOREIGN KEY ( REF_TASK_NO )
 REFERENCES TBL_TASK (TASK_NO );

ALTER TABLE TBL_FILE
DROP CONSTRAINT TBL_FILE_FK2;

ALTER TABLE TBL_FILE
 ADD CONSTRAINT TBL_FILE_FK2 FOREIGN KEY ( REF_BOARD_NO )
 REFERENCES TBL_BOARD (BOARD_NO );

DROP TABLE TBL_FILE;

COMMENT ON COLUMN TBL_FILE.FILE_NO IS '파일번호';

COMMENT ON COLUMN TBL_FILE.FILE_PATH IS '파일경로';

COMMENT ON COLUMN TBL_FILE.FILE_ORIGIN_NAME IS 'origin파일명';

COMMENT ON COLUMN TBL_FILE.FILE_RANDOM_NAME IS 'random파일명';

COMMENT ON COLUMN TBL_FILE.FILE_STATUS IS '삭제여부(Y/N)';

COMMENT ON COLUMN TBL_FILE.REF_ISSUE_NO IS '이슈번호';

COMMENT ON COLUMN TBL_FILE.REF_TASK_NO IS '업무번호';

COMMENT ON COLUMN TBL_FILE.REF_BOARD_NO IS '게시판글번호';

COMMENT ON COLUMN TBL_FILE.FILE_CATEGORY_NO IS '카테고리코드';

COMMENT ON TABLE TBL_FILE IS '첨부파일';


ALTER TABLE TBL_AUTORIZATION_MENU
DROP CONSTRAINT TBL_AUTORIZATION_MENU_FK1;

ALTER TABLE TBL_MEMBER_AUTHORIZATION_TYPE
DROP CONSTRAINT TBL_MEMBER_AUTHORIZATION_TYPE_FK;

DROP TABLE TBL_MEMBER_AUTHORIZATION_TYPE;

CREATE TABLE TBL_MEMBER_AUTHORIZATION_TYPE
(
    MEMBER_AUTHORIZATION_NO    NUMBER NOT NULL,
    MEMBER_AUTHORIZATION_TYPE    VARCHAR2(20) NOT NULL,
    MEMBER_NO    NUMBER NOT NULL
);

COMMENT ON COLUMN TBL_MEMBER_AUTHORIZATION_TYPE.MEMBER_AUTHORIZATION_NO IS '권한번호';

COMMENT ON COLUMN TBL_MEMBER_AUTHORIZATION_TYPE.MEMBER_AUTHORIZATION_TYPE IS '권한종류';

COMMENT ON COLUMN TBL_MEMBER_AUTHORIZATION_TYPE.MEMBER_NO IS '회원번호';

COMMENT ON TABLE TBL_MEMBER_AUTHORIZATION_TYPE IS '회원별권한';

DROP INDEX 엔터티1_PK4;

CREATE UNIQUE INDEX 엔터티1_PK4 ON TBL_MEMBER_AUTHORIZATION_TYPE
( MEMBER_AUTHORIZATION_NO );

ALTER TABLE TBL_MEMBER_AUTHORIZATION_TYPE
DROP PRIMARY KEY;

ALTER TABLE TBL_MEMBER_AUTHORIZATION_TYPE
 ADD CONSTRAINT MEMBER_AUTHORIZATION_NO_PK PRIMARY KEY ( MEMBER_AUTHORIZATION_NO )
 USING INDEX 엔터티1_PK4;

ALTER TABLE TBL_MEMBER_AUTHORIZATION_TYPE
DROP CONSTRAINT TBL_MEMBER_AUTHORIZATION_TYPE_CK;

ALTER TABLE TBL_MEMBER_AUTHORIZATION_TYPE
 ADD CONSTRAINT TBL_MEMBER_AUTHORIZATION_TYPE_CK CHECK ( MEMBER_AUTHORIZATION_TYPE IN ('관리자','개발자','클라이언트') );

ALTER TABLE TBL_MEMBER_AUTHORIZATION_TYPE
DROP CONSTRAINT TBL_MEMBER_AUTHORIZATION_TYPE_FK;

ALTER TABLE TBL_MEMBER_AUTHORIZATION_TYPE
 ADD CONSTRAINT TBL_MEMBER_AUTHORIZATION_TYPE_FK FOREIGN KEY ( MEMBER_NO )
 REFERENCES TBL_MEMBER (MEMBER_NO );

DROP TABLE TBL_MEMBER_AUTHORIZATION_TYPE;

COMMENT ON COLUMN TBL_MEMBER_AUTHORIZATION_TYPE.MEMBER_AUTHORIZATION_NO IS '권한번호';

COMMENT ON COLUMN TBL_MEMBER_AUTHORIZATION_TYPE.MEMBER_AUTHORIZATION_TYPE IS '권한종류';

COMMENT ON COLUMN TBL_MEMBER_AUTHORIZATION_TYPE.MEMBER_NO IS '회원번호';

COMMENT ON TABLE TBL_MEMBER_AUTHORIZATION_TYPE IS '회원별권한';


ALTER TABLE TBL_COMMENT
DROP CONSTRAINT TBL_COMMENT_FK;

ALTER TABLE TBL_COMMENT
DROP CONSTRAINT TBL_COMMENT_FK1;

DROP TABLE TBL_COMMENT;

CREATE TABLE TBL_COMMENT
(
    COMMENT_NO    NUMBER NOT NULL,
    COMMENT_REGISTED_DATE    DATE DEFAULT SYSDATE NOT NULL,
    COMMENT_CONTENT    VARCHAR2(500) NOT NULL,
    BOARD_NO    NUMBER NOT NULL,
    COMMENT_REGISTER    NUMBER NOT NULL
);

COMMENT ON COLUMN TBL_COMMENT.COMMENT_NO IS '댓글번호';

COMMENT ON COLUMN TBL_COMMENT.COMMENT_REGISTED_DATE IS '등록일';

COMMENT ON COLUMN TBL_COMMENT.COMMENT_CONTENT IS '내용';

COMMENT ON COLUMN TBL_COMMENT.BOARD_NO IS '글번호';

COMMENT ON COLUMN TBL_COMMENT.COMMENT_REGISTER IS '댓글작성자';

COMMENT ON TABLE TBL_COMMENT IS '댓글';

DROP INDEX 엔터티1_PK3;

CREATE UNIQUE INDEX 엔터티1_PK3 ON TBL_COMMENT
( COMMENT_NO );

ALTER TABLE TBL_COMMENT
DROP PRIMARY KEY;

ALTER TABLE TBL_COMMENT
 ADD CONSTRAINT COMMENT_NO_PK PRIMARY KEY ( COMMENT_NO )
 USING INDEX 엔터티1_PK3;

ALTER TABLE TBL_COMMENT
DROP CONSTRAINT TBL_COMMENT_FK;

ALTER TABLE TBL_COMMENT
 ADD CONSTRAINT TBL_COMMENT_FK FOREIGN KEY ( BOARD_NO )
 REFERENCES TBL_BOARD (BOARD_NO );

ALTER TABLE TBL_COMMENT
DROP CONSTRAINT TBL_COMMENT_FK1;

ALTER TABLE TBL_COMMENT
 ADD CONSTRAINT TBL_COMMENT_FK1 FOREIGN KEY ( COMMENT_REGISTER )
 REFERENCES TBL_MEMBER (MEMBER_NO );

ALTER TABLE TBL_COMMENT
DROP CONSTRAINT TBL_COMMENT_CK;

ALTER TABLE TBL_COMMENT
 ADD CONSTRAINT TBL_COMMENT_CK CHECK ( COMMENT_REGISTED_DATE IN ('Y','N') );

DROP TABLE TBL_COMMENT;

COMMENT ON COLUMN TBL_COMMENT.COMMENT_NO IS '댓글번호';

COMMENT ON COLUMN TBL_COMMENT.COMMENT_REGISTED_DATE IS '등록일';

COMMENT ON COLUMN TBL_COMMENT.COMMENT_CONTENT IS '내용';

COMMENT ON COLUMN TBL_COMMENT.BOARD_NO IS '글번호';

COMMENT ON COLUMN TBL_COMMENT.COMMENT_REGISTER IS '댓글작성자';

COMMENT ON TABLE TBL_COMMENT IS '댓글';


ALTER TABLE TBL_BOOKMARK
DROP CONSTRAINT TBL_BOOKMARK_FK;

ALTER TABLE TBL_BOOKMARK
DROP CONSTRAINT TBL_BOOKMARK_FK1;

DROP TABLE TBL_BOOKMARK;

CREATE TABLE TBL_BOOKMARK
(
    BOOKMARK_NO    NUMBER NOT NULL,
    BOOKMARK_URL    VARCHAR2(500) NOT NULL,
    TASK_NO    NUMBER NOT NULL,
    MEMBER_NO    NUMBER NOT NULL
);

COMMENT ON COLUMN TBL_BOOKMARK.BOOKMARK_NO IS '북마크번호';

COMMENT ON COLUMN TBL_BOOKMARK.BOOKMARK_URL IS '페이지링크';

COMMENT ON COLUMN TBL_BOOKMARK.TASK_NO IS '업무번호';

COMMENT ON COLUMN TBL_BOOKMARK.MEMBER_NO IS '회원번호';

COMMENT ON TABLE TBL_BOOKMARK IS '북마크';

DROP INDEX 엔터티1_PK2;

CREATE UNIQUE INDEX 엔터티1_PK2 ON TBL_BOOKMARK
( BOOKMARK_NO );

ALTER TABLE TBL_BOOKMARK
DROP PRIMARY KEY;

ALTER TABLE TBL_BOOKMARK
 ADD CONSTRAINT BOOKMARK_NO_PK PRIMARY KEY ( BOOKMARK_NO )
 USING INDEX 엔터티1_PK2;

ALTER TABLE TBL_BOOKMARK
DROP CONSTRAINT TBL_BOOKMARK_FK;

ALTER TABLE TBL_BOOKMARK
 ADD CONSTRAINT TBL_BOOKMARK_FK FOREIGN KEY ( MEMBER_NO )
 REFERENCES TBL_MEMBER (MEMBER_NO );

ALTER TABLE TBL_BOOKMARK
DROP CONSTRAINT TBL_BOOKMARK_FK1;

ALTER TABLE TBL_BOOKMARK
 ADD CONSTRAINT TBL_BOOKMARK_FK1 FOREIGN KEY ( TASK_NO )
 REFERENCES TBL_TASK (TASK_NO );

DROP TABLE TBL_BOOKMARK;

COMMENT ON COLUMN TBL_BOOKMARK.BOOKMARK_NO IS '북마크번호';

COMMENT ON COLUMN TBL_BOOKMARK.BOOKMARK_URL IS '페이지링크';

COMMENT ON COLUMN TBL_BOOKMARK.TASK_NO IS '업무번호';

COMMENT ON COLUMN TBL_BOOKMARK.MEMBER_NO IS '회원번호';

COMMENT ON TABLE TBL_BOOKMARK IS '북마크';


ALTER TABLE TBL_PROFILE
DROP CONSTRAINT TBL_PROFILE_FK;

DROP TABLE TBL_PROFILE;

CREATE TABLE TBL_PROFILE
(
    PROFILE_NO    NUMBER NOT NULL,
    PROFILE_CONTENT    VARCHAR2(100),
    MEMBER_NO    NUMBER NOT NULL,
    PROFILE_PATH    VARCHAR2(500),
    PROFILE_ORIGIN_NAME    VARCHAR2(500),
    PROFILE_RANDOM_NAME    VARCHAR2(500),
    THUMBNAIL_PATH    VARCHAR2(500)
);

COMMENT ON COLUMN TBL_PROFILE.PROFILE_NO IS '프로필번호';

COMMENT ON COLUMN TBL_PROFILE.PROFILE_CONTENT IS '상태명(문구)';

COMMENT ON COLUMN TBL_PROFILE.MEMBER_NO IS '회원번호';

COMMENT ON COLUMN TBL_PROFILE.PROFILE_PATH IS '파일경로';

COMMENT ON COLUMN TBL_PROFILE.PROFILE_ORIGIN_NAME IS 'origin 파일명';

COMMENT ON COLUMN TBL_PROFILE.PROFILE_RANDOM_NAME IS 'random 파일명';

COMMENT ON COLUMN TBL_PROFILE.THUMBNAIL_PATH IS '썸네일경로';

COMMENT ON TABLE TBL_PROFILE IS '프로필';

DROP INDEX PROFILE_NO_PK;

CREATE UNIQUE INDEX PROFILE_NO_PK ON TBL_PROFILE
( PROFILE_NO );

DROP INDEX TBL_PROFILE_UK1;

CREATE UNIQUE INDEX TBL_PROFILE_UK1 ON TBL_PROFILE
( PROFILE_PATH,PROFILE_ORIGIN_NAME,PROFILE_RANDOM_NAME );

ALTER TABLE TBL_PROFILE
DROP PRIMARY KEY;

ALTER TABLE TBL_PROFILE
 ADD CONSTRAINT PROFILE_NO_PK PRIMARY KEY ( PROFILE_NO )
 USING INDEX PROFILE_NO_PK;

ALTER TABLE TBL_PROFILE
DROP CONSTRAINT TBL_PROFILE_UK;

ALTER TABLE TBL_PROFILE
 ADD CONSTRAINT TBL_PROFILE_UK UNIQUE ( PROFILE_PATH,PROFILE_ORIGIN_NAME,PROFILE_RANDOM_NAME )
 USING INDEX TBL_PROFILE_UK1;

ALTER TABLE TBL_PROFILE
DROP CONSTRAINT TBL_PROFILE_FK;

ALTER TABLE TBL_PROFILE
 ADD CONSTRAINT TBL_PROFILE_FK FOREIGN KEY ( MEMBER_NO )
 REFERENCES TBL_MEMBER (MEMBER_NO );

DROP TABLE TBL_PROFILE;

COMMENT ON COLUMN TBL_PROFILE.PROFILE_NO IS '프로필번호';

COMMENT ON COLUMN TBL_PROFILE.PROFILE_CONTENT IS '상태명(문구)';

COMMENT ON COLUMN TBL_PROFILE.MEMBER_NO IS '회원번호';

COMMENT ON COLUMN TBL_PROFILE.PROFILE_PATH IS '파일경로';

COMMENT ON COLUMN TBL_PROFILE.PROFILE_ORIGIN_NAME IS 'origin 파일명';

COMMENT ON COLUMN TBL_PROFILE.PROFILE_RANDOM_NAME IS 'random 파일명';

COMMENT ON COLUMN TBL_PROFILE.THUMBNAIL_PATH IS '썸네일경로';

COMMENT ON TABLE TBL_PROFILE IS '프로필';


ALTER TABLE TBL_BOARD
DROP CONSTRAINT TBL_BOARD_FK;

DROP TABLE TBL_BOARD_CATEGORY;

CREATE TABLE TBL_BOARD_CATEGORY
(
    BOARD_CATEGORY_NO    NUMBER NOT NULL,
    BOARD_CATEGORY_NAME    VARCHAR2(50) NOT NULL
);

COMMENT ON COLUMN TBL_BOARD_CATEGORY.BOARD_CATEGORY_NO IS '게시판카테고리번호';

COMMENT ON COLUMN TBL_BOARD_CATEGORY.BOARD_CATEGORY_NAME IS '게시판카테고리명';

COMMENT ON TABLE TBL_BOARD_CATEGORY IS '게시판카테고리';

DROP INDEX BOARD_CATEGORY_NO_PK;

CREATE UNIQUE INDEX BOARD_CATEGORY_NO_PK ON TBL_BOARD_CATEGORY
( BOARD_CATEGORY_NO );

ALTER TABLE TBL_BOARD_CATEGORY
DROP PRIMARY KEY;

ALTER TABLE TBL_BOARD_CATEGORY
 ADD CONSTRAINT BOARD_CATEGORY_NO_PK PRIMARY KEY ( BOARD_CATEGORY_NO )
 USING INDEX BOARD_CATEGORY_NO_PK;

ALTER TABLE TBL_BOARD_CATEGORY
DROP CONSTRAINT TBL_BOARD_CATEGORY_CK;

ALTER TABLE TBL_BOARD_CATEGORY
 ADD CONSTRAINT TBL_BOARD_CATEGORY_CK CHECK ( BOARD_CATEGORY_NO IN ('TO-DO','가이드','교육','공지사항','회의록') );

DROP TABLE TBL_BOARD_CATEGORY;

COMMENT ON COLUMN TBL_BOARD_CATEGORY.BOARD_CATEGORY_NO IS '게시판카테고리번호';

COMMENT ON COLUMN TBL_BOARD_CATEGORY.BOARD_CATEGORY_NAME IS '게시판카테고리명';

COMMENT ON TABLE TBL_BOARD_CATEGORY IS '게시판카테고리';


ALTER TABLE TBL_BOOKMARK
DROP CONSTRAINT TBL_BOOKMARK_FK1;

ALTER TABLE TBL_TASK_HISTORY
DROP CONSTRAINT TBL_TASK_HISTORY_FK2;

ALTER TABLE TBL_TASK
DROP CONSTRAINT TBL_TASK_FK;

ALTER TABLE TBL_OUTPUT
DROP CONSTRAINT TBL_OUTPUT_FK;

ALTER TABLE TBL_FILE
DROP CONSTRAINT TBL_FILE_FK1;

ALTER TABLE TBL_ISSUE
DROP CONSTRAINT TBL_ISSUE_FK;

ALTER TABLE TBL_TASK_MEM_HISTORY
DROP CONSTRAINT TBL_TASK_MEM_HISTORY_FK;

ALTER TABLE TBL_TASK
DROP CONSTRAINT TBL_TASK_FK;

ALTER TABLE TBL_TASK
DROP CONSTRAINT TBL_TASK_FK1;

ALTER TABLE TBL_TASK
DROP CONSTRAINT TBL_TASK_FK2;

ALTER TABLE TBL_TASK
DROP CONSTRAINT TBL_TASK_FK3;

DROP TABLE TBL_TASK;

CREATE TABLE TBL_TASK
(
    TASK_NO    NUMBER NOT NULL,
    TASK_START_DATE    DATE NOT NULL,
    TASK_DEADLINE    DATE NOT NULL,
    TASK_PROGRESSION    NUMBER NOT NULL,
    TASK_PROGRESS_STATUS    VARCHAR2(15) NOT NULL,
    TASK_TYPE_NO    NUMBER NOT NULL,
    TASK_STATUS    VARCHAR2(1) DEFAULT 'Y' NOT NULL,
    PROJECT_NO    NUMBER NOT NULL,
    MEMBER_NO    NUMBER NOT NULL,
    TASK_CATEGORY_CODE    VARCHAR2(10) NOT NULL,
    TASK_REF_NO    NUMBER
);

COMMENT ON COLUMN TBL_TASK.TASK_NO IS '업무번호';

COMMENT ON COLUMN TBL_TASK.TASK_START_DATE IS '시작일';

COMMENT ON COLUMN TBL_TASK.TASK_DEADLINE IS '마감일';

COMMENT ON COLUMN TBL_TASK.TASK_PROGRESSION IS '진행율';

COMMENT ON COLUMN TBL_TASK.TASK_PROGRESS_STATUS IS '진행상태';

COMMENT ON COLUMN TBL_TASK.TASK_TYPE_NO IS '타입번호(마일스톤)';

COMMENT ON COLUMN TBL_TASK.TASK_STATUS IS '삭제여부(Y/N)';

COMMENT ON COLUMN TBL_TASK.PROJECT_NO IS '프로젝트번호';

COMMENT ON COLUMN TBL_TASK.MEMBER_NO IS '담당자 번호';

COMMENT ON COLUMN TBL_TASK.TASK_CATEGORY_CODE IS '업무코드';

COMMENT ON COLUMN TBL_TASK.TASK_REF_NO IS '상위업무번호';

COMMENT ON TABLE TBL_TASK IS '업무';

DROP INDEX TASK_NO_PK;

CREATE UNIQUE INDEX TASK_NO_PK ON TBL_TASK
( TASK_NO );

ALTER TABLE TBL_TASK
DROP PRIMARY KEY;

ALTER TABLE TBL_TASK
 ADD CONSTRAINT TASK_NO_PK PRIMARY KEY ( TASK_NO )
 USING INDEX TASK_NO_PK;

ALTER TABLE TBL_TASK
DROP CONSTRAINT TBL_TASK_CK;

ALTER TABLE TBL_TASK
 ADD CONSTRAINT TBL_TASK_CK CHECK ( TASK_STATUS IN ('Y','N') );

ALTER TABLE TBL_TASK
DROP CONSTRAINT TBL_TASK_FK;

ALTER TABLE TBL_TASK
 ADD CONSTRAINT TBL_TASK_FK FOREIGN KEY ( TASK_REF_NO )
 REFERENCES TBL_TASK (TASK_NO );

ALTER TABLE TBL_TASK
DROP CONSTRAINT TBL_TASK_FK1;

ALTER TABLE TBL_TASK
 ADD CONSTRAINT TBL_TASK_FK1 FOREIGN KEY ( PROJECT_NO )
 REFERENCES TBL_PROJECT (PROJECT_NO );

ALTER TABLE TBL_TASK
DROP CONSTRAINT TBL_TASK_FK2;

ALTER TABLE TBL_TASK
 ADD CONSTRAINT TBL_TASK_FK2 FOREIGN KEY ( TASK_CATEGORY_CODE )
 REFERENCES TBL_TASK_CODE_MANAGE (TASK_CATEGORY_CODE );

ALTER TABLE TBL_TASK
DROP CONSTRAINT TBL_TASK_FK3;

ALTER TABLE TBL_TASK
 ADD CONSTRAINT TBL_TASK_FK3 FOREIGN KEY ( MEMBER_NO )
 REFERENCES TBL_MEMBER (MEMBER_NO );

DROP TABLE TBL_TASK;

COMMENT ON COLUMN TBL_TASK.TASK_NO IS '업무번호';

COMMENT ON COLUMN TBL_TASK.TASK_START_DATE IS '시작일';

COMMENT ON COLUMN TBL_TASK.TASK_DEADLINE IS '마감일';

COMMENT ON COLUMN TBL_TASK.TASK_PROGRESSION IS '진행율';

COMMENT ON COLUMN TBL_TASK.TASK_PROGRESS_STATUS IS '진행상태';

COMMENT ON COLUMN TBL_TASK.TASK_TYPE_NO IS '타입번호(마일스톤)';

COMMENT ON COLUMN TBL_TASK.TASK_STATUS IS '삭제여부(Y/N)';

COMMENT ON COLUMN TBL_TASK.PROJECT_NO IS '프로젝트번호';

COMMENT ON COLUMN TBL_TASK.MEMBER_NO IS '담당자 번호';

COMMENT ON COLUMN TBL_TASK.TASK_CATEGORY_CODE IS '업무코드';

COMMENT ON COLUMN TBL_TASK.TASK_REF_NO IS '상위업무번호';

COMMENT ON TABLE TBL_TASK IS '업무';


ALTER TABLE TBL_ROLE_ASSIGNMENT_HISTORY
DROP CONSTRAINT TBL_ROLE_ASSIGNMENT_HISTORY_FK;

ALTER TABLE TBL_ROLE_ASSIGNMENT_HISTORY
DROP CONSTRAINT TBL_ROLE_ASSIGNMENT_HISTORY_FK1;

ALTER TABLE TBL_ROLE_ASSIGNMENT_HISTORY
DROP CONSTRAINT TBL_ROLE_ASSIGNMENT_HISTORY_FK2;

ALTER TABLE TBL_ROLE_ASSIGNMENT_HISTORY
DROP CONSTRAINT TBL_ROLE_ASSIGNMENT_HISTORY_FK3;

DROP TABLE TBL_ROLE_ASSIGNMENT_HISTORY;

CREATE TABLE TBL_ROLE_ASSIGNMENT_HISTORY
(
    ROLE__HISTORY_NO    NUMBER NOT NULL,
    MEMBER_NO    NUMBER NOT NULL,
    ROLE_NO    NUMBER NOT NULL,
    PROJECT_NO    NUMBER NOT NULL
);

COMMENT ON COLUMN TBL_ROLE_ASSIGNMENT_HISTORY.ROLE__HISTORY_NO IS '역할히스토리번호';

COMMENT ON COLUMN TBL_ROLE_ASSIGNMENT_HISTORY.MEMBER_NO IS '회원번호';

COMMENT ON COLUMN TBL_ROLE_ASSIGNMENT_HISTORY.ROLE_NO IS '역할번호';

COMMENT ON COLUMN TBL_ROLE_ASSIGNMENT_HISTORY.PROJECT_NO IS '프로젝트번호';

COMMENT ON TABLE TBL_ROLE_ASSIGNMENT_HISTORY IS '역할배정내역';

DROP INDEX ROLE__HISTORY_NO_PK;

CREATE UNIQUE INDEX ROLE__HISTORY_NO_PK ON TBL_ROLE_ASSIGNMENT_HISTORY
( MEMBER_NO,ROLE_NO,PROJECT_NO );

ALTER TABLE TBL_ROLE_ASSIGNMENT_HISTORY
DROP PRIMARY KEY;

ALTER TABLE TBL_ROLE_ASSIGNMENT_HISTORY
 ADD CONSTRAINT ROLE__HISTORY_NO_PK PRIMARY KEY ( MEMBER_NO,ROLE_NO,PROJECT_NO )
 USING INDEX ROLE__HISTORY_NO_PK;

ALTER TABLE TBL_ROLE_ASSIGNMENT_HISTORY
DROP CONSTRAINT TBL_ROLE_ASSIGNMENT_HISTORY_FK;

ALTER TABLE TBL_ROLE_ASSIGNMENT_HISTORY
 ADD CONSTRAINT TBL_ROLE_ASSIGNMENT_HISTORY_FK FOREIGN KEY ( MEMBER_NO )
 REFERENCES TBL_MEMBER (MEMBER_NO );

ALTER TABLE TBL_ROLE_ASSIGNMENT_HISTORY
DROP CONSTRAINT TBL_ROLE_ASSIGNMENT_HISTORY_FK1;

ALTER TABLE TBL_ROLE_ASSIGNMENT_HISTORY
 ADD CONSTRAINT TBL_ROLE_ASSIGNMENT_HISTORY_FK1 FOREIGN KEY ( ROLE__HISTORY_NO )
 REFERENCES TBL_PROJECT_MEM_HISTORY (PROJECT_MEM_HISTORY_NO );

ALTER TABLE TBL_ROLE_ASSIGNMENT_HISTORY
DROP CONSTRAINT TBL_ROLE_ASSIGNMENT_HISTORY_FK2;

ALTER TABLE TBL_ROLE_ASSIGNMENT_HISTORY
 ADD CONSTRAINT TBL_ROLE_ASSIGNMENT_HISTORY_FK2 FOREIGN KEY ( PROJECT_NO )
 REFERENCES TBL_PROJECT (PROJECT_NO );

ALTER TABLE TBL_ROLE_ASSIGNMENT_HISTORY
DROP CONSTRAINT TBL_ROLE_ASSIGNMENT_HISTORY_FK3;

ALTER TABLE TBL_ROLE_ASSIGNMENT_HISTORY
 ADD CONSTRAINT TBL_ROLE_ASSIGNMENT_HISTORY_FK3 FOREIGN KEY ( ROLE_NO )
 REFERENCES TBL_ROLE_CATEGORY (ROLE_NO );

DROP TABLE TBL_ROLE_ASSIGNMENT_HISTORY;

COMMENT ON COLUMN TBL_ROLE_ASSIGNMENT_HISTORY.ROLE__HISTORY_NO IS '역할히스토리번호';

COMMENT ON COLUMN TBL_ROLE_ASSIGNMENT_HISTORY.MEMBER_NO IS '회원번호';

COMMENT ON COLUMN TBL_ROLE_ASSIGNMENT_HISTORY.ROLE_NO IS '역할번호';

COMMENT ON COLUMN TBL_ROLE_ASSIGNMENT_HISTORY.PROJECT_NO IS '프로젝트번호';

COMMENT ON TABLE TBL_ROLE_ASSIGNMENT_HISTORY IS '역할배정내역';


ALTER TABLE TBL_OUTPUT_HISTORY
DROP CONSTRAINT TBL_OUTPUT_HISTORY_FK1;

ALTER TABLE TBL_OUTPUT_FILE
DROP CONSTRAINT TBL_OUTPUT_FILE_FK;

ALTER TABLE TBL_OUTPUT
DROP CONSTRAINT TBL_OUTPUT_FK;

ALTER TABLE TBL_OUTPUT
DROP CONSTRAINT TBL_OUTPUT_FK1;

ALTER TABLE TBL_OUTPUT
DROP CONSTRAINT TBL_OUTPUT_FK2;

DROP TABLE TBL_OUTPUT;

CREATE TABLE TBL_OUTPUT
(
    OUTPUT_NO    NUMBER NOT NULL,
    OUTPUT_COMMENT    VARCHAR2(500) NOT NULL,
    OUTPUT_REGISTED_DATE    DATE DEFAULT SYSDATE NOT NULL,
    OUTPUT_STATUS    VARCHAR2(1) DEFAULT 'Y' NOT NULL,
    MEMBER_NO    NUMBER NOT NULL,
    PROJECT_NO    NUMBER NOT NULL,
    TASK_NO    NUMBER NOT NULL,
    OUTPUT_VER    NUMBER NOT NULL
);

COMMENT ON COLUMN TBL_OUTPUT.OUTPUT_NO IS '산출물번호';

COMMENT ON COLUMN TBL_OUTPUT.OUTPUT_COMMENT IS '본문내용(코멘트)';

COMMENT ON COLUMN TBL_OUTPUT.OUTPUT_REGISTED_DATE IS '등록일';

COMMENT ON COLUMN TBL_OUTPUT.OUTPUT_STATUS IS '삭제여부(Y/N)';

COMMENT ON COLUMN TBL_OUTPUT.MEMBER_NO IS '회원번호';

COMMENT ON COLUMN TBL_OUTPUT.PROJECT_NO IS '프로젝트번호';

COMMENT ON COLUMN TBL_OUTPUT.TASK_NO IS '업무번호';

COMMENT ON COLUMN TBL_OUTPUT.OUTPUT_VER IS '산출물버전';

COMMENT ON TABLE TBL_OUTPUT IS '산출물';

DROP INDEX OUTPUT_NO_PK;

CREATE UNIQUE INDEX OUTPUT_NO_PK ON TBL_OUTPUT
( OUTPUT_NO );

ALTER TABLE TBL_OUTPUT
DROP PRIMARY KEY;

ALTER TABLE TBL_OUTPUT
 ADD CONSTRAINT OUTPUT_NO_PK PRIMARY KEY ( OUTPUT_NO )
 USING INDEX OUTPUT_NO_PK;

ALTER TABLE TBL_OUTPUT
DROP CONSTRAINT TBL_OUTPUT_CK;

ALTER TABLE TBL_OUTPUT
 ADD CONSTRAINT TBL_OUTPUT_CK CHECK ( OUTPUT_STATUS IN ('Y','N') );

ALTER TABLE TBL_OUTPUT
DROP CONSTRAINT TBL_OUTPUT_FK;

ALTER TABLE TBL_OUTPUT
 ADD CONSTRAINT TBL_OUTPUT_FK FOREIGN KEY ( TASK_NO )
 REFERENCES TBL_TASK (TASK_NO );

ALTER TABLE TBL_OUTPUT
DROP CONSTRAINT TBL_OUTPUT_FK1;

ALTER TABLE TBL_OUTPUT
 ADD CONSTRAINT TBL_OUTPUT_FK1 FOREIGN KEY ( MEMBER_NO )
 REFERENCES TBL_MEMBER (MEMBER_NO );

ALTER TABLE TBL_OUTPUT
DROP CONSTRAINT TBL_OUTPUT_FK2;

ALTER TABLE TBL_OUTPUT
 ADD CONSTRAINT TBL_OUTPUT_FK2 FOREIGN KEY ( PROJECT_NO )
 REFERENCES TBL_PROJECT (PROJECT_NO );

DROP TABLE TBL_OUTPUT;

COMMENT ON COLUMN TBL_OUTPUT.OUTPUT_NO IS '산출물번호';

COMMENT ON COLUMN TBL_OUTPUT.OUTPUT_COMMENT IS '본문내용(코멘트)';

COMMENT ON COLUMN TBL_OUTPUT.OUTPUT_REGISTED_DATE IS '등록일';

COMMENT ON COLUMN TBL_OUTPUT.OUTPUT_STATUS IS '삭제여부(Y/N)';

COMMENT ON COLUMN TBL_OUTPUT.MEMBER_NO IS '회원번호';

COMMENT ON COLUMN TBL_OUTPUT.PROJECT_NO IS '프로젝트번호';

COMMENT ON COLUMN TBL_OUTPUT.TASK_NO IS '업무번호';

COMMENT ON COLUMN TBL_OUTPUT.OUTPUT_VER IS '산출물버전';

COMMENT ON TABLE TBL_OUTPUT IS '산출물';


ALTER TABLE TBL_MEM_DEPT_HISTORY
DROP CONSTRAINT TBL_MEM_DEPT_HISTORY_FK1;

ALTER TABLE TBL_DEPT_CODE_MANAGE_HISTORY
DROP CONSTRAINT TBL_DEPT_CODE_MANAGE_HISTORY_FK;

ALTER TABLE TBL_TEAM
DROP CONSTRAINT TBL_TEAM_FK;

DROP TABLE TBL_DEPT;

CREATE TABLE TBL_DEPT
(
    DEPT_CODE    VARCHAR2(10) NOT NULL,
    DEPT_NAME    VARCHAR2(50) NOT NULL
);

COMMENT ON COLUMN TBL_DEPT.DEPT_CODE IS '부서코드';

COMMENT ON COLUMN TBL_DEPT.DEPT_NAME IS '부서명';

COMMENT ON TABLE TBL_DEPT IS '부서';

DROP INDEX DEPT_CODE_PK;

CREATE UNIQUE INDEX DEPT_CODE_PK ON TBL_DEPT
( DEPT_CODE );

DROP INDEX TBL_DEPT_UK1;

CREATE UNIQUE INDEX TBL_DEPT_UK1 ON TBL_DEPT
( DEPT_NAME );

ALTER TABLE TBL_DEPT
DROP PRIMARY KEY;

ALTER TABLE TBL_DEPT
 ADD CONSTRAINT DEPT_CODE_PK PRIMARY KEY ( DEPT_CODE )
 USING INDEX DEPT_CODE_PK;

ALTER TABLE TBL_DEPT
DROP CONSTRAINT TBL_DEPT_UK;

ALTER TABLE TBL_DEPT
 ADD CONSTRAINT TBL_DEPT_UK UNIQUE ( DEPT_NAME )
 USING INDEX TBL_DEPT_UK1;

DROP TABLE TBL_DEPT;

COMMENT ON COLUMN TBL_DEPT.DEPT_CODE IS '부서코드';

COMMENT ON COLUMN TBL_DEPT.DEPT_NAME IS '부서명';

COMMENT ON TABLE TBL_DEPT IS '부서';


ALTER TABLE TBL_ROLE_ASSIGNMENT_HISTORY
DROP CONSTRAINT TBL_ROLE_ASSIGNMENT_HISTORY_FK3;

DROP TABLE TBL_ROLE_CATEGORY;

CREATE TABLE TBL_ROLE_CATEGORY
(
    ROLE_NO NOT NULL,
    ROLE_NAME NOT NULL
);

COMMENT ON COLUMN TBL_ROLE_CATEGORY.ROLE_NO IS '역할번호';

COMMENT ON COLUMN TBL_ROLE_CATEGORY.ROLE_NAME IS '역할명';

COMMENT ON TABLE TBL_ROLE_CATEGORY IS '역할카테고리';

DROP INDEX ROLE_NO_PK;

CREATE UNIQUE INDEX ROLE_NO_PK ON TBL_ROLE_CATEGORY
( ROLE_NO );

DROP INDEX TBL_ROLE_CATEGORY_UK1;

CREATE UNIQUE INDEX TBL_ROLE_CATEGORY_UK1 ON TBL_ROLE_CATEGORY
( ROLE_NAME );

ALTER TABLE TBL_ROLE_CATEGORY
DROP PRIMARY KEY;

ALTER TABLE TBL_ROLE_CATEGORY
 ADD CONSTRAINT ROLE_NO_PK PRIMARY KEY ( ROLE_NO )
 USING INDEX ROLE_NO_PK;

ALTER TABLE TBL_ROLE_CATEGORY
DROP CONSTRAINT TBL_ROLE_CATEGORY_UK;

ALTER TABLE TBL_ROLE_CATEGORY
 ADD CONSTRAINT TBL_ROLE_CATEGORY_UK UNIQUE ( ROLE_NAME )
 USING INDEX TBL_ROLE_CATEGORY_UK1;

ALTER TABLE TBL_ROLE_CATEGORY
DROP CONSTRAINT TBL_ROLE_CATEGORY_CK;

ALTER TABLE TBL_ROLE_CATEGORY
 ADD CONSTRAINT TBL_ROLE_CATEGORY_CK CHECK ( ROLE_NAME IN ('미지정','QA','개발자','아키텍트','DBA','테스터','설계자','PM') );

DROP TABLE TBL_ROLE_CATEGORY;

COMMENT ON COLUMN TBL_ROLE_CATEGORY.ROLE_NO IS '역할번호';

COMMENT ON COLUMN TBL_ROLE_CATEGORY.ROLE_NAME IS '역할명';

COMMENT ON TABLE TBL_ROLE_CATEGORY IS '역할카테고리';


ALTER TABLE TBL_JOB_CODE_MANAGE_HISTORY
DROP CONSTRAINT TBL_JOB_CODE_MANAGE_HISTORY_FK;

ALTER TABLE TBL_MEM_JOB_HISTORY
DROP CONSTRAINT TBL_MEM_JOB_HISTORY_FK1;

DROP TABLE TBL_JOB_TITLE;

CREATE TABLE TBL_JOB_TITLE
(
    JOB_CODE    VARCHAR2(10) NOT NULL,
    JOB_NAME    VARCHAR2(15) NOT NULL,
    JOB_RANK    NUMBER NOT NULL
);

COMMENT ON COLUMN TBL_JOB_TITLE.JOB_CODE IS '직급코드';

COMMENT ON COLUMN TBL_JOB_TITLE.JOB_NAME IS '직급명';

COMMENT ON COLUMN TBL_JOB_TITLE.JOB_RANK IS '직급순위';

COMMENT ON TABLE TBL_JOB_TITLE IS '직급';

DROP INDEX JOB_CODE_PK;

CREATE UNIQUE INDEX JOB_CODE_PK ON TBL_JOB_TITLE
( JOB_CODE );

DROP INDEX TBL_JOB_TITLE_UK1;

CREATE UNIQUE INDEX TBL_JOB_TITLE_UK1 ON TBL_JOB_TITLE
( JOB_NAME,JOB_RANK );

ALTER TABLE TBL_JOB_TITLE
DROP PRIMARY KEY;

ALTER TABLE TBL_JOB_TITLE
 ADD CONSTRAINT JOB_CODE_PK PRIMARY KEY ( JOB_CODE )
 USING INDEX JOB_CODE_PK;

ALTER TABLE TBL_JOB_TITLE
DROP CONSTRAINT TBL_JOB_TITLE_UK;

ALTER TABLE TBL_JOB_TITLE
 ADD CONSTRAINT TBL_JOB_TITLE_UK UNIQUE ( JOB_NAME,JOB_RANK )
 USING INDEX TBL_JOB_TITLE_UK1;

DROP TABLE TBL_JOB_TITLE;

COMMENT ON COLUMN TBL_JOB_TITLE.JOB_CODE IS '직급코드';

COMMENT ON COLUMN TBL_JOB_TITLE.JOB_NAME IS '직급명';

COMMENT ON COLUMN TBL_JOB_TITLE.JOB_RANK IS '직급순위';

COMMENT ON TABLE TBL_JOB_TITLE IS '직급';


ALTER TABLE TBL_COMMENT
DROP CONSTRAINT TBL_COMMENT_FK;

ALTER TABLE TBL_FILE
DROP CONSTRAINT TBL_FILE_FK2;

ALTER TABLE TBL_BOARD
DROP CONSTRAINT TBL_BOARD_FK;

ALTER TABLE TBL_BOARD
DROP CONSTRAINT TBL_BOARD_FK1;

ALTER TABLE TBL_BOARD
DROP CONSTRAINT TBL_BOARD_FK2;

DROP TABLE TBL_BOARD;

CREATE TABLE TBL_BOARD
(
    BOARD_NO    NUMBER NOT NULL,
    BOARD_POSTING_DATE    DATE DEFAULT SYSDATE NOT NULL,
    BOARD_TITLE    VARCHAR2(30) NOT NULL,
    BOARD_CONTENT    VARCHAR2(3000) NOT NULL,
    BOARD_STATUS    NVARCHAR2(1) DEFAULT 'Y' NOT NULL,
    PROJECT_NO    NUMBER NOT NULL,
    BOARD_CATEGORY_NO    NUMBER NOT NULL,
    BOARD_UPDATED_DATE    DATE DEFAULT SYSDATE,
    MEMBER_NO    NUMBER NOT NULL
);

COMMENT ON COLUMN TBL_BOARD.BOARD_NO IS '글번호';

COMMENT ON COLUMN TBL_BOARD.BOARD_POSTING_DATE IS '등록일';

COMMENT ON COLUMN TBL_BOARD.BOARD_TITLE IS '제목';

COMMENT ON COLUMN TBL_BOARD.BOARD_CONTENT IS '본문내용';

COMMENT ON COLUMN TBL_BOARD.BOARD_STATUS IS '게시물삭제여부';

COMMENT ON COLUMN TBL_BOARD.PROJECT_NO IS '프로젝트번호';

COMMENT ON COLUMN TBL_BOARD.BOARD_CATEGORY_NO IS '게시판카테고리번호';

COMMENT ON COLUMN TBL_BOARD.BOARD_UPDATED_DATE IS '수정일';

COMMENT ON COLUMN TBL_BOARD.MEMBER_NO IS '회원번호';

COMMENT ON TABLE TBL_BOARD IS '게시판';

DROP INDEX BOARD_NO_PK;

CREATE UNIQUE INDEX BOARD_NO_PK ON TBL_BOARD
( BOARD_NO );

ALTER TABLE TBL_BOARD
DROP PRIMARY KEY;

ALTER TABLE TBL_BOARD
 ADD CONSTRAINT BOARD_NO_PK PRIMARY KEY ( BOARD_NO )
 USING INDEX BOARD_NO_PK;

ALTER TABLE TBL_BOARD
DROP CONSTRAINT TBL_BOARD_CK;

ALTER TABLE TBL_BOARD
 ADD CONSTRAINT TBL_BOARD_CK CHECK ( BOARD_STATUS IN ('Y','N') );

ALTER TABLE TBL_BOARD
DROP CONSTRAINT TBL_BOARD_FK;

ALTER TABLE TBL_BOARD
 ADD CONSTRAINT TBL_BOARD_FK FOREIGN KEY ( BOARD_CATEGORY_NO )
 REFERENCES TBL_BOARD_CATEGORY (BOARD_CATEGORY_NO );

ALTER TABLE TBL_BOARD
DROP CONSTRAINT TBL_BOARD_FK1;

ALTER TABLE TBL_BOARD
 ADD CONSTRAINT TBL_BOARD_FK1 FOREIGN KEY ( MEMBER_NO )
 REFERENCES TBL_MEMBER (MEMBER_NO );

ALTER TABLE TBL_BOARD
DROP CONSTRAINT TBL_BOARD_FK2;

ALTER TABLE TBL_BOARD
 ADD CONSTRAINT TBL_BOARD_FK2 FOREIGN KEY ( PROJECT_NO )
 REFERENCES TBL_PROJECT (PROJECT_NO );

DROP TABLE TBL_BOARD;

COMMENT ON COLUMN TBL_BOARD.BOARD_NO IS '글번호';

COMMENT ON COLUMN TBL_BOARD.BOARD_POSTING_DATE IS '등록일';

COMMENT ON COLUMN TBL_BOARD.BOARD_TITLE IS '제목';

COMMENT ON COLUMN TBL_BOARD.BOARD_CONTENT IS '본문내용';

COMMENT ON COLUMN TBL_BOARD.BOARD_STATUS IS '게시물삭제여부';

COMMENT ON COLUMN TBL_BOARD.PROJECT_NO IS '프로젝트번호';

COMMENT ON COLUMN TBL_BOARD.BOARD_CATEGORY_NO IS '게시판카테고리번호';

COMMENT ON COLUMN TBL_BOARD.BOARD_UPDATED_DATE IS '수정일';

COMMENT ON COLUMN TBL_BOARD.MEMBER_NO IS '회원번호';

COMMENT ON TABLE TBL_BOARD IS '게시판';


ALTER TABLE TBL_ISSUE_HISTORY
DROP CONSTRAINT TBL_ISSUE_HISTORY_FK;

ALTER TABLE TBL_FILE
DROP CONSTRAINT TBL_FILE_FK;

ALTER TABLE TBL_ISSUE
DROP CONSTRAINT TBL_ISSUE_FK;

ALTER TABLE TBL_ISSUE
DROP CONSTRAINT TBL_ISSUE_FK1;

ALTER TABLE TBL_ISSUE
DROP CONSTRAINT TBL_ISSUE_FK2;

ALTER TABLE TBL_ISSUE
DROP CONSTRAINT TBL_ISSUE_FK3;

DROP TABLE TBL_ISSUE;

CREATE TABLE TBL_ISSUE
(
    ISSUE_NO    NUMBER NOT NULL,
    ISSUE_NAME    VARCHAR2(50) NOT NULL,
    ISSUE_CREATED_DATE    DATE DEFAULT SYSDATE NOT NULL,
    ISSUE_PROGRESS_NO    NUMBER NOT NULL,
    ISSUE_PROGRESS_STATUS    VARCHAR2(20) NOT NULL,
    ISSUE_IMPORTANCE    VARCHAR2(15) NOT NULL,
    ISSUE_CONTENT    VARCHAR2(1000) NOT NULL,
    ISSUE_DEADLINE    DATE,
    ISSUE_COMPLETED_DATE    DATE DEFAULT SYSDATE,
    ISSUE_STATUS    VARCHAR2(1) DEFAULT 'Y' NOT NULL,
    ISSUE_REGISTER    NUMBER NOT NULL,
    PROJECT_NO    NUMBER NOT NULL,
    ISSUE_MANAGER    NUMBER,
    TASK_NO    NUMBER NOT NULL
);

COMMENT ON COLUMN TBL_ISSUE.ISSUE_NO IS '이슈번호';

COMMENT ON COLUMN TBL_ISSUE.ISSUE_NAME IS '이슈명';

COMMENT ON COLUMN TBL_ISSUE.ISSUE_CREATED_DATE IS '이슈등록일';

COMMENT ON COLUMN TBL_ISSUE.ISSUE_PROGRESS_NO IS '진행상태번호';

COMMENT ON COLUMN TBL_ISSUE.ISSUE_PROGRESS_STATUS IS '진행상태';

COMMENT ON COLUMN TBL_ISSUE.ISSUE_IMPORTANCE IS '중요도';

COMMENT ON COLUMN TBL_ISSUE.ISSUE_CONTENT IS '이슈내용';

COMMENT ON COLUMN TBL_ISSUE.ISSUE_DEADLINE IS '이슈마감일';

COMMENT ON COLUMN TBL_ISSUE.ISSUE_COMPLETED_DATE IS '이슈종료일';

COMMENT ON COLUMN TBL_ISSUE.ISSUE_STATUS IS '삭제여부(Y/N)';

COMMENT ON COLUMN TBL_ISSUE.ISSUE_REGISTER IS '이슈등록자';

COMMENT ON COLUMN TBL_ISSUE.PROJECT_NO IS '프로젝트번호';

COMMENT ON COLUMN TBL_ISSUE.ISSUE_MANAGER IS '담당자';

COMMENT ON COLUMN TBL_ISSUE.TASK_NO IS '업무번호';

COMMENT ON TABLE TBL_ISSUE IS '이슈';

DROP INDEX ISSUE_NO_PK;

CREATE UNIQUE INDEX ISSUE_NO_PK ON TBL_ISSUE
( ISSUE_NO );

ALTER TABLE TBL_ISSUE
DROP PRIMARY KEY;

ALTER TABLE TBL_ISSUE
 ADD CONSTRAINT ISSUE_NO_PK PRIMARY KEY ( ISSUE_NO )
 USING INDEX ISSUE_NO_PK;

ALTER TABLE TBL_ISSUE
DROP CONSTRAINT TBL_ISSUE_CK;

ALTER TABLE TBL_ISSUE
 ADD CONSTRAINT TBL_ISSUE_CK CHECK ( ISSUE_STATUS IN ('Y','N') );

ALTER TABLE TBL_ISSUE
DROP CONSTRAINT TBL_ISSUE_CK1;

ALTER TABLE TBL_ISSUE
 ADD CONSTRAINT TBL_ISSUE_CK1 CHECK ( ISSUE_PROGRESS_STATUS IN ('대기중','확인중','처리중','완료') );

ALTER TABLE TBL_ISSUE
DROP CONSTRAINT TBL_ISSUE_CK2;

ALTER TABLE TBL_ISSUE
 ADD CONSTRAINT TBL_ISSUE_CK2 CHECK ( ISSUE_IMPORTANCE IN ('긴급','보통','낮음') );

ALTER TABLE TBL_ISSUE
DROP CONSTRAINT TBL_ISSUE_FK;

ALTER TABLE TBL_ISSUE
 ADD CONSTRAINT TBL_ISSUE_FK FOREIGN KEY ( TASK_NO )
 REFERENCES TBL_TASK (TASK_NO );

ALTER TABLE TBL_ISSUE
DROP CONSTRAINT TBL_ISSUE_FK1;

ALTER TABLE TBL_ISSUE
 ADD CONSTRAINT TBL_ISSUE_FK1 FOREIGN KEY ( ISSUE_MANAGER )
 REFERENCES TBL_MEMBER (MEMBER_NO );

ALTER TABLE TBL_ISSUE
DROP CONSTRAINT TBL_ISSUE_FK2;

ALTER TABLE TBL_ISSUE
 ADD CONSTRAINT TBL_ISSUE_FK2 FOREIGN KEY ( ISSUE_REGISTER )
 REFERENCES TBL_MEMBER (MEMBER_NO );

ALTER TABLE TBL_ISSUE
DROP CONSTRAINT TBL_ISSUE_FK3;

ALTER TABLE TBL_ISSUE
 ADD CONSTRAINT TBL_ISSUE_FK3 FOREIGN KEY ( PROJECT_NO )
 REFERENCES TBL_PROJECT (PROJECT_NO );

DROP TABLE TBL_ISSUE;

COMMENT ON COLUMN TBL_ISSUE.ISSUE_NO IS '이슈번호';

COMMENT ON COLUMN TBL_ISSUE.ISSUE_NAME IS '이슈명';

COMMENT ON COLUMN TBL_ISSUE.ISSUE_CREATED_DATE IS '이슈등록일';

COMMENT ON COLUMN TBL_ISSUE.ISSUE_PROGRESS_NO IS '진행상태번호';

COMMENT ON COLUMN TBL_ISSUE.ISSUE_PROGRESS_STATUS IS '진행상태';

COMMENT ON COLUMN TBL_ISSUE.ISSUE_IMPORTANCE IS '중요도';

COMMENT ON COLUMN TBL_ISSUE.ISSUE_CONTENT IS '이슈내용';

COMMENT ON COLUMN TBL_ISSUE.ISSUE_DEADLINE IS '이슈마감일';

COMMENT ON COLUMN TBL_ISSUE.ISSUE_COMPLETED_DATE IS '이슈종료일';

COMMENT ON COLUMN TBL_ISSUE.ISSUE_STATUS IS '삭제여부(Y/N)';

COMMENT ON COLUMN TBL_ISSUE.ISSUE_REGISTER IS '이슈등록자';

COMMENT ON COLUMN TBL_ISSUE.PROJECT_NO IS '프로젝트번호';

COMMENT ON COLUMN TBL_ISSUE.ISSUE_MANAGER IS '담당자';

COMMENT ON COLUMN TBL_ISSUE.TASK_NO IS '업무번호';

COMMENT ON TABLE TBL_ISSUE IS '이슈';


ALTER TABLE TBL_OUTPUT_HISTORY
DROP CONSTRAINT TBL_OUTPUT_HISTORY_FK;

ALTER TABLE TBL_OUTPUT_HISTORY
DROP CONSTRAINT TBL_OUTPUT_HISTORY_FK1;

DROP TABLE TBL_OUTPUT_HISTORY;

CREATE TABLE TBL_OUTPUT_HISTORY
(
    OUTPUT_HISTORY_NO    NUMBER NOT NULL,
    OUTPUT_HISTORY_DATE    DATE DEFAULT SYSDATE NOT NULL,
    OUTPUT_HISTORY_CONDITION    VARCHAR2(20) NOT NULL,
    OUTPUT_NO    NUMBER NOT NULL,
    MEMBER_NO    NUMBER NOT NULL
);

COMMENT ON COLUMN TBL_OUTPUT_HISTORY.OUTPUT_HISTORY_NO IS '산출물히스토리번호';

COMMENT ON COLUMN TBL_OUTPUT_HISTORY.OUTPUT_HISTORY_DATE IS '산출물날짜';

COMMENT ON COLUMN TBL_OUTPUT_HISTORY.OUTPUT_HISTORY_CONDITION IS '산출물상태';

COMMENT ON COLUMN TBL_OUTPUT_HISTORY.OUTPUT_NO IS '산출물번호';

COMMENT ON COLUMN TBL_OUTPUT_HISTORY.MEMBER_NO IS '회원번호';

COMMENT ON TABLE TBL_OUTPUT_HISTORY IS '산출물히스토리';

DROP INDEX OUTPUT_HISTORY_NO_PK;

CREATE UNIQUE INDEX OUTPUT_HISTORY_NO_PK ON TBL_OUTPUT_HISTORY
( OUTPUT_HISTORY_NO );

ALTER TABLE TBL_OUTPUT_HISTORY
DROP PRIMARY KEY;

ALTER TABLE TBL_OUTPUT_HISTORY
 ADD CONSTRAINT OUTPUT_HISTORY_NO_PK PRIMARY KEY ( OUTPUT_HISTORY_NO )
 USING INDEX OUTPUT_HISTORY_NO_PK;

ALTER TABLE TBL_OUTPUT_HISTORY
DROP CONSTRAINT TBL_OUTPUT_HISTORY_CK;

ALTER TABLE TBL_OUTPUT_HISTORY
 ADD CONSTRAINT TBL_OUTPUT_HISTORY_CK CHECK ( OUTPUT_HISTORY_CONDITION IN ('등록','삭제','수정') );

ALTER TABLE TBL_OUTPUT_HISTORY
DROP CONSTRAINT TBL_OUTPUT_HISTORY_FK;

ALTER TABLE TBL_OUTPUT_HISTORY
 ADD CONSTRAINT TBL_OUTPUT_HISTORY_FK FOREIGN KEY ( MEMBER_NO )
 REFERENCES TBL_MEMBER (MEMBER_NO );

ALTER TABLE TBL_OUTPUT_HISTORY
DROP CONSTRAINT TBL_OUTPUT_HISTORY_FK1;

ALTER TABLE TBL_OUTPUT_HISTORY
 ADD CONSTRAINT TBL_OUTPUT_HISTORY_FK1 FOREIGN KEY ( OUTPUT_NO )
 REFERENCES TBL_OUTPUT (OUTPUT_NO );

DROP TABLE TBL_OUTPUT_HISTORY;

COMMENT ON COLUMN TBL_OUTPUT_HISTORY.OUTPUT_HISTORY_NO IS '산출물히스토리번호';

COMMENT ON COLUMN TBL_OUTPUT_HISTORY.OUTPUT_HISTORY_DATE IS '산출물날짜';

COMMENT ON COLUMN TBL_OUTPUT_HISTORY.OUTPUT_HISTORY_CONDITION IS '산출물상태';

COMMENT ON COLUMN TBL_OUTPUT_HISTORY.OUTPUT_NO IS '산출물번호';

COMMENT ON COLUMN TBL_OUTPUT_HISTORY.MEMBER_NO IS '회원번호';

COMMENT ON TABLE TBL_OUTPUT_HISTORY IS '산출물히스토리';


ALTER TABLE TBL_PROJECT_MEM_HISTORY
DROP CONSTRAINT TBL_PROJECT_MEM_HISTORY_FK;

ALTER TABLE TBL_ROLE_ASSIGNMENT_HISTORY
DROP CONSTRAINT TBL_ROLE_ASSIGNMENT_HISTORY_FK;

ALTER TABLE TBL_TASK
DROP CONSTRAINT TBL_TASK_FK3;

ALTER TABLE TBL_PROFILE
DROP CONSTRAINT TBL_PROFILE_FK;

ALTER TABLE TBL_BOOKMARK
DROP CONSTRAINT TBL_BOOKMARK_FK;

ALTER TABLE TBL_OUTPUT
DROP CONSTRAINT TBL_OUTPUT_FK1;

ALTER TABLE TBL_OUTPUT_HISTORY
DROP CONSTRAINT TBL_OUTPUT_HISTORY_FK;

ALTER TABLE TBL_TASK_HISTORY
DROP CONSTRAINT TBL_TASK_HISTORY_FK1;

ALTER TABLE TBL_ISSUE_HISTORY
DROP CONSTRAINT TBL_ISSUE_HISTORY_FK1;

ALTER TABLE TBL_MEMBER_HISTORY
DROP CONSTRAINT TBL_MEMBER_HISTORY_FK;

ALTER TABLE TBL_BOARD
DROP CONSTRAINT TBL_BOARD_FK1;

ALTER TABLE TBL_COMMENT
DROP CONSTRAINT TBL_COMMENT_FK1;

ALTER TABLE TBL_MEM_JOB_HISTORY
DROP CONSTRAINT TBL_MEM_JOB_HISTORY_FK;

ALTER TABLE TBL_MEM_DEPT_HISTORY
DROP CONSTRAINT TBL_MEM_DEPT_HISTORY_FK;

ALTER TABLE TBL_PROJECT_HISTORY
DROP CONSTRAINT TBL_PROJECT_HISTORY_FK2;

ALTER TABLE TBL_PROJECT
DROP CONSTRAINT TBL_PROJECT_FK1;

ALTER TABLE TBL_MEM_TEAM_HISTORY
DROP CONSTRAINT TBL_MEM_TEAM_HISTORY_FK1;

ALTER TABLE TBL_ISSUE_HISTORY
DROP CONSTRAINT TBL_ISSUE_HISTORY_FK2;

ALTER TABLE TBL_ISSUE
DROP CONSTRAINT TBL_ISSUE_FK1;

ALTER TABLE TBL_ISSUE
DROP CONSTRAINT TBL_ISSUE_FK2;

ALTER TABLE TBL_MEMBER_AUTHORIZATION_TYPE
DROP CONSTRAINT TBL_MEMBER_AUTHORIZATION_TYPE_FK;

ALTER TABLE TBL_TASK_MEM_HISTORY
DROP CONSTRAINT TBL_TASK_MEM_HISTORY_FK1;

DROP TABLE TBL_MEMBER;

CREATE TABLE TBL_MEMBER
(
    MEMBER_NO    NUMBER NOT NULL,
    MEMBER_ID    VARCHAR2(50) NOT NULL,
    MEMBER_PWD    VARCHAR2(50) NOT NULL,
    PHONE    VARCHAR2(15),
    EMAIL    VARCHAR2(50),
    MEMBER_STATUS    VARCHAR2(1) DEFAULT 'Y' NOT NULL,
    MEMBER_NAME    VARCHAR2(50) NOT NULL,
    MEMBER_CREATED_DATE    DATE DEFAULT SYSDATE NOT NULL,
    MEMBER_RETIRED_DATE    DATE,
    MEMBER_PWD_INIT_STATUS    VARCHAR2(1) DEFAULT 'Y' NOT NULL
);

COMMENT ON COLUMN TBL_MEMBER.MEMBER_NO IS '회원번호';

COMMENT ON COLUMN TBL_MEMBER.MEMBER_ID IS '아이디';

COMMENT ON COLUMN TBL_MEMBER.MEMBER_PWD IS '비밀번호';

COMMENT ON COLUMN TBL_MEMBER.PHONE IS '핸드폰 번호';

COMMENT ON COLUMN TBL_MEMBER.EMAIL IS '이메일';

COMMENT ON COLUMN TBL_MEMBER.MEMBER_STATUS IS '탈퇴여부 상태(Y/N)';

COMMENT ON COLUMN TBL_MEMBER.MEMBER_NAME IS '이름';

COMMENT ON COLUMN TBL_MEMBER.MEMBER_CREATED_DATE IS '등록일';

COMMENT ON COLUMN TBL_MEMBER.MEMBER_RETIRED_DATE IS '탈퇴일';

COMMENT ON COLUMN TBL_MEMBER.MEMBER_PWD_INIT_STATUS IS '비밀번호초기화여부(Y/N)';

COMMENT ON TABLE TBL_MEMBER IS '회원';

DROP INDEX MEMBER_NO_PK;

CREATE UNIQUE INDEX MEMBER_NO_PK ON TBL_MEMBER
( MEMBER_NO );

DROP INDEX TBL_MEMBER_UK1;

CREATE UNIQUE INDEX TBL_MEMBER_UK1 ON TBL_MEMBER
( PHONE,EMAIL );

ALTER TABLE TBL_MEMBER
DROP PRIMARY KEY;

ALTER TABLE TBL_MEMBER
 ADD CONSTRAINT MEMBER_NO_PK PRIMARY KEY ( MEMBER_NO )
 USING INDEX MEMBER_NO_PK;

ALTER TABLE TBL_MEMBER
DROP CONSTRAINT TBL_MEMBER_UK;

ALTER TABLE TBL_MEMBER
 ADD CONSTRAINT TBL_MEMBER_UK UNIQUE ( PHONE,EMAIL )
 USING INDEX TBL_MEMBER_UK1;

ALTER TABLE TBL_MEMBER
DROP CONSTRAINT TBL_MEMBER_CK;

ALTER TABLE TBL_MEMBER
 ADD CONSTRAINT TBL_MEMBER_CK CHECK ( MEMBER_STATUS IN ('Y','N') );

ALTER TABLE TBL_MEMBER
DROP CONSTRAINT TBL_MEMBER_CK1;

ALTER TABLE TBL_MEMBER
 ADD CONSTRAINT TBL_MEMBER_CK1 CHECK ( MEMBER_PWD_INIT_STATUS IN ('Y','N') );

DROP TABLE TBL_MEMBER;

COMMENT ON COLUMN TBL_MEMBER.MEMBER_NO IS '회원번호';

COMMENT ON COLUMN TBL_MEMBER.MEMBER_ID IS '아이디';

COMMENT ON COLUMN TBL_MEMBER.MEMBER_PWD IS '비밀번호';

COMMENT ON COLUMN TBL_MEMBER.PHONE IS '핸드폰 번호';

COMMENT ON COLUMN TBL_MEMBER.EMAIL IS '이메일';

COMMENT ON COLUMN TBL_MEMBER.MEMBER_STATUS IS '탈퇴여부 상태(Y/N)';

COMMENT ON COLUMN TBL_MEMBER.MEMBER_NAME IS '이름';

COMMENT ON COLUMN TBL_MEMBER.MEMBER_CREATED_DATE IS '등록일';

COMMENT ON COLUMN TBL_MEMBER.MEMBER_RETIRED_DATE IS '탈퇴일';

COMMENT ON COLUMN TBL_MEMBER.MEMBER_PWD_INIT_STATUS IS '비밀번호초기화여부(Y/N)';

COMMENT ON TABLE TBL_MEMBER IS '회원';


ALTER TABLE TBL_ROLE_ASSIGNMENT_HISTORY
DROP CONSTRAINT TBL_ROLE_ASSIGNMENT_HISTORY_FK1;

ALTER TABLE TBL_PROJECT_MEM_HISTORY
DROP CONSTRAINT TBL_PROJECT_MEM_HISTORY_FK;

ALTER TABLE TBL_PROJECT_MEM_HISTORY
DROP CONSTRAINT TBL_PROJECT_MEM_HISTORY_FK1;

DROP TABLE TBL_PROJECT_MEM_HISTORY;

CREATE TABLE TBL_PROJECT_MEM_HISTORY
(
    PROJECT_MEM_HISTORY_NO    NUMBER NOT NULL,
    PROJECT_MEM_STARTED_DATE    DATE DEFAULT SYSDATE NOT NULL,
    PROJECT_MEM_DROP_DATE    DATE,
    MEMBER_NO    NUMBER NOT NULL,
    PROJECT_NO    NUMBER NOT NULL
);

COMMENT ON COLUMN TBL_PROJECT_MEM_HISTORY.PROJECT_MEM_HISTORY_NO IS '배정번호';

COMMENT ON COLUMN TBL_PROJECT_MEM_HISTORY.PROJECT_MEM_STARTED_DATE IS '배정일';

COMMENT ON COLUMN TBL_PROJECT_MEM_HISTORY.PROJECT_MEM_DROP_DATE IS '하차일';

COMMENT ON COLUMN TBL_PROJECT_MEM_HISTORY.MEMBER_NO IS '회원번호';

COMMENT ON COLUMN TBL_PROJECT_MEM_HISTORY.PROJECT_NO IS '프로젝트번호';

COMMENT ON TABLE TBL_PROJECT_MEM_HISTORY IS '프로젝트 인원 배정 내역';

DROP INDEX 엔터티2_1_PK;

CREATE UNIQUE INDEX 엔터티2_1_PK ON TBL_PROJECT_MEM_HISTORY
( PROJECT_MEM_HISTORY_NO );

ALTER TABLE TBL_PROJECT_MEM_HISTORY
DROP PRIMARY KEY;

ALTER TABLE TBL_PROJECT_MEM_HISTORY
 ADD CONSTRAINT PROJECT_MEM_HISTORY_NO_PK PRIMARY KEY ( PROJECT_MEM_HISTORY_NO )
 USING INDEX 엔터티2_1_PK;

ALTER TABLE TBL_PROJECT_MEM_HISTORY
DROP CONSTRAINT TBL_PROJECT_MEM_HISTORY_FK;

ALTER TABLE TBL_PROJECT_MEM_HISTORY
 ADD CONSTRAINT TBL_PROJECT_MEM_HISTORY_FK FOREIGN KEY ( MEMBER_NO )
 REFERENCES TBL_MEMBER (MEMBER_NO );

ALTER TABLE TBL_PROJECT_MEM_HISTORY
DROP CONSTRAINT TBL_PROJECT_MEM_HISTORY_FK1;

ALTER TABLE TBL_PROJECT_MEM_HISTORY
 ADD CONSTRAINT TBL_PROJECT_MEM_HISTORY_FK1 FOREIGN KEY ( PROJECT_NO )
 REFERENCES TBL_PROJECT (PROJECT_NO );

DROP TABLE TBL_PROJECT_MEM_HISTORY;

COMMENT ON COLUMN TBL_PROJECT_MEM_HISTORY.PROJECT_MEM_HISTORY_NO IS '배정번호';

COMMENT ON COLUMN TBL_PROJECT_MEM_HISTORY.PROJECT_MEM_STARTED_DATE IS '배정일';

COMMENT ON COLUMN TBL_PROJECT_MEM_HISTORY.PROJECT_MEM_DROP_DATE IS '하차일';

COMMENT ON COLUMN TBL_PROJECT_MEM_HISTORY.MEMBER_NO IS '회원번호';

COMMENT ON COLUMN TBL_PROJECT_MEM_HISTORY.PROJECT_NO IS '프로젝트번호';

COMMENT ON TABLE TBL_PROJECT_MEM_HISTORY IS '프로젝트 인원 배정 내역';


ALTER TABLE TBL_PROJECT_MEM_HISTORY
DROP CONSTRAINT TBL_PROJECT_MEM_HISTORY_FK1;

ALTER TABLE TBL_ROLE_ASSIGNMENT_HISTORY
DROP CONSTRAINT TBL_ROLE_ASSIGNMENT_HISTORY_FK2;

ALTER TABLE TBL_TASK
DROP CONSTRAINT TBL_TASK_FK1;

ALTER TABLE TBL_BOARD
DROP CONSTRAINT TBL_BOARD_FK2;

ALTER TABLE TBL_OUTPUT
DROP CONSTRAINT TBL_OUTPUT_FK2;

ALTER TABLE TBL_PROJECT_HISTORY
DROP CONSTRAINT TBL_PROJECT_HISTORY_FK3;

ALTER TABLE TBL_ISSUE
DROP CONSTRAINT TBL_ISSUE_FK3;

ALTER TABLE TBL_PROJECT
DROP CONSTRAINT TBL_PROJECT_FK;

ALTER TABLE TBL_PROJECT
DROP CONSTRAINT TBL_PROJECT_FK1;

DROP TABLE TBL_PROJECT;

CREATE TABLE TBL_PROJECT
(
    PROJECT_NO    NUMBER NOT NULL,
    PROJECT_NAME NOT NULL,
    PROJECT_START_DATE    DATE NOT NULL,
    PROJECT_DEADLINE    DATE NOT NULL,
    PROJECT_PROGRESSION    NUMBER NOT NULL,
    PROJECT_STATUS    VARCHAR2(1) DEFAULT 'Y' NOT NULL,
    PROJECT_COMPLETED_DATE    DATE,
    PROJECT_PROGRESS_STATUS_CODE    VARCHAR2(50) NOT NULL,
    MEMBER_NO    NUMBER NOT NULL
);

COMMENT ON COLUMN TBL_PROJECT.PROJECT_NO IS '프로젝트번호';

COMMENT ON COLUMN TBL_PROJECT.PROJECT_NAME IS '프로젝트명';

COMMENT ON COLUMN TBL_PROJECT.PROJECT_START_DATE IS '시작일';

COMMENT ON COLUMN TBL_PROJECT.PROJECT_DEADLINE IS '마감일';

COMMENT ON COLUMN TBL_PROJECT.PROJECT_PROGRESSION IS '진행율';

COMMENT ON COLUMN TBL_PROJECT.PROJECT_STATUS IS '프로젝트삭제여부(Y/N)';

COMMENT ON COLUMN TBL_PROJECT.PROJECT_COMPLETED_DATE IS '종료일';

COMMENT ON COLUMN TBL_PROJECT.PROJECT_PROGRESS_STATUS_CODE IS '프로젝트진행상태코드';

COMMENT ON COLUMN TBL_PROJECT.MEMBER_NO IS 'PM회원번호';

COMMENT ON TABLE TBL_PROJECT IS '프로젝트';

DROP INDEX 엔터티2_PK;

CREATE UNIQUE INDEX 엔터티2_PK ON TBL_PROJECT
( PROJECT_NO );

ALTER TABLE TBL_PROJECT
DROP PRIMARY KEY;

ALTER TABLE TBL_PROJECT
 ADD CONSTRAINT PROJECT_NO_PK PRIMARY KEY ( PROJECT_NO )
 USING INDEX 엔터티2_PK;

ALTER TABLE TBL_PROJECT
DROP CONSTRAINT TBL_PROJECT_CK;

ALTER TABLE TBL_PROJECT
 ADD CONSTRAINT TBL_PROJECT_CK CHECK ( PROJECT_STATUS IN ('Y','N') );

ALTER TABLE TBL_PROJECT
DROP CONSTRAINT TBL_PROJECT_FK;

ALTER TABLE TBL_PROJECT
 ADD CONSTRAINT TBL_PROJECT_FK FOREIGN KEY ( PROJECT_PROGRESS_STATUS_CODE )
 REFERENCES TBL_PROJECT_STATUS (PROJECT_PROGRESS_STATUS_CODE );

ALTER TABLE TBL_PROJECT
DROP CONSTRAINT TBL_PROJECT_FK1;

ALTER TABLE TBL_PROJECT
 ADD CONSTRAINT TBL_PROJECT_FK1 FOREIGN KEY ( MEMBER_NO )
 REFERENCES TBL_MEMBER (MEMBER_NO );

DROP TABLE TBL_PROJECT;

COMMENT ON COLUMN TBL_PROJECT.PROJECT_NO IS '프로젝트번호';

COMMENT ON COLUMN TBL_PROJECT.PROJECT_NAME IS '프로젝트명';

COMMENT ON COLUMN TBL_PROJECT.PROJECT_START_DATE IS '시작일';

COMMENT ON COLUMN TBL_PROJECT.PROJECT_DEADLINE IS '마감일';

COMMENT ON COLUMN TBL_PROJECT.PROJECT_PROGRESSION IS '진행율';

COMMENT ON COLUMN TBL_PROJECT.PROJECT_STATUS IS '프로젝트삭제여부(Y/N)';

COMMENT ON COLUMN TBL_PROJECT.PROJECT_COMPLETED_DATE IS '종료일';

COMMENT ON COLUMN TBL_PROJECT.PROJECT_PROGRESS_STATUS_CODE IS '프로젝트진행상태코드';

COMMENT ON COLUMN TBL_PROJECT.MEMBER_NO IS 'PM회원번호';

COMMENT ON TABLE TBL_PROJECT IS '프로젝트';


ALTER TABLE TBL_TEAM_CODE_MANAGE_HISTORY
DROP CONSTRAINT TEAM_CODE_MANAGE_HISTORY_FK;

ALTER TABLE TBL_MEM_TEAM_HISTORY
DROP CONSTRAINT TBL_MEM_TEAM_HISTORY_FK;

ALTER TABLE TBL_TEAM
DROP CONSTRAINT TBL_TEAM_FK;

DROP TABLE TBL_TEAM;

CREATE TABLE TBL_TEAM
(
    TEAM_CODE    VARCHAR2(10) NOT NULL,
    TEAM_NAME    VARCHAR2(30) NOT NULL,
    DEPT_CODE    VARCHAR2(10) NOT NULL
);

COMMENT ON COLUMN TBL_TEAM.TEAM_CODE IS '팀코드';

COMMENT ON COLUMN TBL_TEAM.TEAM_NAME IS '팀명';

COMMENT ON COLUMN TBL_TEAM.DEPT_CODE IS '부서코드';

COMMENT ON TABLE TBL_TEAM IS '팀';

DROP INDEX TEAM_CODE_PK;

CREATE UNIQUE INDEX TEAM_CODE_PK ON TBL_TEAM
( TEAM_CODE );

DROP INDEX TBL_TEAM_UK1;

CREATE UNIQUE INDEX TBL_TEAM_UK1 ON TBL_TEAM
( TEAM_NAME );

ALTER TABLE TBL_TEAM
DROP PRIMARY KEY;

ALTER TABLE TBL_TEAM
 ADD CONSTRAINT TEAM_CODE_PK PRIMARY KEY ( TEAM_CODE )
 USING INDEX TEAM_CODE_PK;

ALTER TABLE TBL_TEAM
DROP CONSTRAINT TBL_TEAM_UK;

ALTER TABLE TBL_TEAM
 ADD CONSTRAINT TBL_TEAM_UK UNIQUE ( TEAM_NAME )
 USING INDEX TBL_TEAM_UK1;

ALTER TABLE TBL_TEAM
DROP CONSTRAINT TBL_TEAM_FK;

ALTER TABLE TBL_TEAM
 ADD CONSTRAINT TBL_TEAM_FK FOREIGN KEY ( DEPT_CODE )
 REFERENCES TBL_DEPT (DEPT_CODE );

DROP TABLE TBL_TEAM;

COMMENT ON COLUMN TBL_TEAM.TEAM_CODE IS '팀코드';

COMMENT ON COLUMN TBL_TEAM.TEAM_NAME IS '팀명';

COMMENT ON COLUMN TBL_TEAM.DEPT_CODE IS '부서코드';

COMMENT ON TABLE TBL_TEAM IS '팀';