/* FormDemo.css */

.login-center {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; /*수평 정렬*/
    align-items: center;
    justify-content: center;
}


.formDiv .card {
    min-width: 400px;
}
.formDiv .card form {
    margin-top: 2rem;
}
.formDiv .card .field {
    margin-bottom: 1.5rem;
}

.formDiv .card .field-checkbox {
    margin-bottom: 0.5rem;
}

@media screen and (max-width: 960px) {
    .form-demo .card {
        width: 80%;
    }
}
@media screen and (max-width: 640px) {
    .form-demo .card {
        width: 100%;
        min-width: 0;
    }
}