#memberName {
    font-weight: bold;
}

#noComments {
    margin-bottom: 10px;
}

#latestEdited {
    margin-left: 10px;
    margin-right: 10px;
}

#latestEdited, #modifiedYN {
    font-size: 10px;
    color: #A2A2A6;
}

#content {
    width: 100%;
    margin-top: 5px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 10px;
    border: 1px solid #333440;
    border-radius: 5px;
    background-color: #1D1E27;
    color: #fff;
}

#editableBtns {
    margin-top: 0px;
    margin-bottom: 10px;
}

#editComment, #removeComment {
    background: none;
    font-size: 10px;
    color: #A2A2A6;
    padding: 3px;
    border: none;
    cursor: pointer;
}

#modifyCommentTextarea {
    width: 100%;
    /* resize: none; */
    margin-top: 10px;
}

#modifySaveBtn, #modifyCancelBtn {
    width: 40px;   
    padding: 5px;
    color: #fff;
    font-size: 10px;
    border: none;
    float: right;
    margin-top: 5px;
    margin-left: 5px;
}

#modifySaveBtn {
    background-color: #00AA9C;
}

#modifyCancelBtn {
    background-color: rgba(255, 255, 255, 0.25);
}

.editArea {
    margin-bottom: 40px;
}

#moreCommentsBtn {
    /* background-color: rgba(255, 207, 145, 0.5); */
    background-color: rgba(255, 255, 255, 0.05);
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: #ffcf91;
    font-size: 10px;
    display: block;
    margin-bottom: 20px;
}

.deleteAcceptBtn {
    background-color: #F86064;
}

.deleteRejectBtn {
    background: none;
}

.deleteAcceptBtn, .deleteRejectBtn {
    border: none;
    color: #fff;
}

.deleteAcceptBtn:enabled:hover, .deleteRejectBtn:enabled:hover {
    background-color: rgba(255, 255, 255, 0.25);
    border: none;
    color: #fff;
}