.layout {
    display: flex;
    flex-direction: row;
}

.main {
    width: calc(100vw - 240px);
    height: calc(100vh - 58px);
    background-color: #1D1E27;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}