#searchContainer, #summaryContainer, #contentContainer {
    width: 96%;
    background-color: #282936;
    border: 1px solid #333544;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin: 0 0 20px 0;
}

#searchContainer {
    height: 58px;
    padding: 10px 20px;
}

#summaryContainer {
    height: 58px;
    padding: 10px 0px;
}

#summaryContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#summaryContainer>div {
    width: 13.3%; 
    height: 58px;
    padding: 0 2%;
}

#summaryContainer>div:nth-child(3), #summaryContainer>div:nth-child(4) {
    width: 30%; 
}

#summaryContainer>div:not(:last-child) {
    border-right: 1px solid #333544;
}

.summaryElement {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.summaryElement>div {
    /* width: 100%; */
    margin-top: 5px; 
    padding: 2px 10%;
    background-color: rgba(0, 170, 156, .16);
    border: 1px solid #333544;
    border-radius: 5px;
    color: #00AA9C;
    text-align: center;
}

.summaryElement:nth-child(1)>div, .summaryElement:nth-last-child(1)>div {
    cursor: pointer;
}


#contentContainer {
    height: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-y: auto;
}

#contentContainer::-webkit-scrollbar {
    width: 16px;
}
  
#contentContainer::-webkit-scrollbar-thumb{
    background-color: #282936;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}

#contentContainer::-webkit-scrollbar-thumb:active {
    background-color: #333544;
}

#contentContainer::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 10px;
}

#contentContainer>div.row {
    width: 100%;
    height: 50%;
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #333544;
}

.row>.cell {
    width: 50%;
    height: 100%;
    border-right: 1px solid #333544;
}

.cell div {
    height: 96%;
}

#period {
    margin-right: 20px;
}

#period>* {
    margin-right: 5px;
}
