#search, #paginator {
    height: 70px;
    background-color: #282936;
    border: 1px solid #333544;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 20px;
}

#search>div>* { /* search condition */
    width: 200px;
}

#search>span>* { /* search value */
    width: calc(100vw - 720px);
}
