.profileContainer { 
    margin: 0 auto;
    margin-top: 20px;
}

.cardFooter{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
}

.cardHeader{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}