#pageLayout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main {
    width: 96%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    background-color: #282936;
    padding: 20px;
}

#main>:first-child {
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    margin-bottom: 10px;
    font-size: 20px;
}

#filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

#filter>button {
    width: 80px;
    height: 30px;
    color: #fff;
    border: none;
    border-radius: 6px;
    margin-left: 5px;
    background-color: rgba(255, 255, 255, 0.25);
}

#filter>button:hover,
#filter>button:focus {
    background-color: #8B6AFF;
}

#searchBtn {
    background-color: rgba(255, 255, 255, 0.25);
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 10px;
}

#searchBtn:hover {
    background-color: #00AA9C;
}

#readMoreBtn {
    background: none;
    border: none;
    color: #ffcf91;
    padding-top: 5px;
}

#searchBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    float: right;
}

#searchBar, 
#filter {
    margin-left: 10px;
}

#tableHeader, 
.tableRow,
#noInquiry {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#tableHeader {
    background-color: rgba(255, 255, 255, 0.05);
    font-size: 12px;
    margin-top: 10px;
}

.tableRow, 
#noInquiry {
    background-color: #1D1E27;
}

#tableHeader>:nth-child(1),
.tableRow>:nth-child(1) {
    width: 5%;
}

#tableHeader>:nth-child(2),
.tableRow>:nth-child(2) {
    width: 35%;
}

#tableHeader>:nth-child(3),
#tableHeader>:nth-child(5),
.tableRow>:nth-child(3),
.tableRow>:nth-child(5) {
    width: 15%;
}

#tableHeader>:nth-child(4),
#tableHeader>:nth-child(6),
#tableHeader>:nth-child(7),
.tableRow>:nth-child(4),
.tableRow>:nth-child(6),
.tableRow>:nth-child(7) {
    width: 10%;
}

.inquiryDetail {
    cursor: pointer;
    color: #ffcf91;
    background: none;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.inquiryDetail:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

/* 1:1문의 다이얼로그 창 */
#newInquiryBtn {
    color: #fff;
    margin-top: 10px;
}

#inquiryDataInput {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
}

#inquiryDataInput>h5 {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

#inquiryDataInput>label {
    font-weight: bold;
    color: #A3A3A7;
}

#smallInfo {
    color: #F86064;
    font-size: 10px;
    margin-bottom: 20px;
}

#inputTitle, 
#inputOption, 
#inputContent {
    margin-top: 5px;
    margin-bottom: 20px;
}

#comment {
    margin: 10px;
}

#answer {
    margin-top: 10px;
    margin-bottom: 10px;
}

#commentInfo {
    color: #A3A3A7;
    font-size: 12px;
    margin-left: 10px;
}

#inquiryDataInput>div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#createBtn, 
#cancelBtn,
#removeBtn {
    border: none;
    border-radius: 5px;
    width: 60px;
    color: #fff;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
}

#createBtn {
    background-color: #00AA9C;
}

#cancelBtn {
    background-color: rgba(255, 255, 255, 0.25);
}

#removeBtn {
    background-color: #F86064;
}

#adminUses {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#answerRegistBtn,
#answerRemoveBtn {
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    width: 100px;
    border: none;
    color: #fff;
}

#answerRemoveBtn {
    background-color: #F86064;
}