#container {
    width: 96%;
    overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* background-color: #282936; */
}

#ganttContainer {
    overflow: auto;
    display: block;
}

#container div::-webkit-scrollbar {
    height: 16px;
}

#dialogContainer div::-webkit-scrollbar
, #taskContainer div::-webkit-scrollbar {
    width: 16px;
}

#container div::-webkit-scrollbar-thumb
, #dialogContainer div::-webkit-scrollbar-thumb
, #taskContainer div::-webkit-scrollbar-thumb {
    background-color: #282936;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}

#container div::-webkit-scrollbar-thumb:active
, #dialogContainer div::-webkit-scrollbar-thumb:active
, #taskContainer div::-webkit-scrollbar-thumb:active {
    background-color: #333544;
}

#container div::-webkit-scrollbar-track
, #dialogContainer div::-webkit-scrollbar-track
, #taskContainer div::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 10px;
}

#unfoldButton {
    width: 16px;
    height: calc(100% - 18px);
    background-color: #282936;
    color: lightgrey;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#dialogHeader {
    border-bottom: 2px solid #333544;
    padding: 10px 0 30px 0;
}

#dialogHeader>span {
    width: 10vw;
    background-color: #1D1E27;
    color: white;
    border: 2px solid #333544;
    border-radius: 15px;
    padding: 10px 40px;
    font-size: 20px;
}

#dialogBody>div:nth-child(1), #dialogBody>div:nth-child(2)>div>div { 
    height: 100px;   
    display: flex;
    flex-direction: column;
}

#dialogBody>div:nth-child(2) { 
    height: 200px;  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#dialogBody>div:nth-child(2)>div:nth-child(1) { /* 시작일/종료일 */
    width: 34%;
}

#dialogBody>div:nth-child(2)>div:nth-child(2) { /* 스프린트 목표 */
    display: flex;
    flex-direction: column;
    width: 60%;
    max-height: 80%;
}

#dialogBody>div:nth-child(3), #dialogBody>div:nth-child(4) { /* 진행할 기존백로그/신규백로그 */
    width: auto;
    height: auto;   
    display: flex;
    flex-direction: column;
}

#dialogBody>div:nth-child(3) {
    margin-bottom: 20px;
}

#dialogBody>div:nth-child(3)>div {
    width: auto;
    display: block;
}

#dialogBody>div:nth-child(3) li:not(:last-child) {
    /* background: rgba(255, 185, 95, .16);
    color: #FFB95F; */
    margin-bottom: 5px;
}

#dialogBody>div label {
    font-size: 16px;
    padding-bottom: 10px;
}

#dialogFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5px;
}

/* 스프린트가 없을 때 */
#emptySprint {
    text-align: center;
}

#emptySprint>* {
    margin-top: 20%;
    font-size: 32px;
}

/* 일감 목록 */
#taskBody {
    display: flex;
    flex-direction: column;
}

#taskBody>div {
    display: flex;
    flex-direction: column;
}

#taskBody>div label {
    font-size: 16px;
    padding: 10px 0;
}

#backlogContainer {
    width: auto;
    min-height: 260px;
    background-color: #1D1E27;
    border: 1px solid #333544;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

#backlogContainer>div {
    display: flex;
    flex-direction: column;
}

#backlogContainer>div:nth-child(1) {
    width: 25%;
    padding-left: 16px;
}

#backlogContainer>div:nth-child(2) {
    width: 70%;
}

#backlogContainer>div>* {
    margin: 10px 0;
}

#backlogDetail label:nth-child(n+1):nth-child(-n+2){
    height: 40px;
    display: block;
}

#backlogDetail label:nth-child(n+3):nth-child(-n+5){
    height: 38px;
    display: block;
}

#taskBody>div:nth-child(3) li:not(:last-child) {
    /* background: rgba(255, 185, 95, .16);
    color: #FFB95F; */
}

#moreSprints {
    width: 360px;
    height: 17px;
    background-color: #282936;
    border: 1px solid grey;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    position: relative;
    margin-top: -18px;
}

