div.cells {
    width: 320px;
    display: flex;
    flex-direction: row;
    align-items: center;
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}

div#cellsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}